<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_merch" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con" style="min-height: 840px;">
				<div style="height:60px;border-bottom:1px solid #000000;padding:10px;background:skyblue;">
					<h4 style="margin:10px;float:left;">多商户管理 <small>总数: <span>0</span></small></h4>
					<div style="float:right;">
						<a href="add_sh" class="btn btn-primary">添加新商户</a>
					</div>
					<div class="input-group" style="margin:3px 40px;    width: 20%; float: right;">				 
	                 	<input type="text" class="input-sm form-control" id="text_str" value="{$his_str}" placeholder="商户名称"><span class="input-group-btn">                  		
	               	    <a href="" id="a_str"><button class="btn btn-sm btn-primary" style="float:right;">搜索</button></a>	
	               	</div> 
				</div>
				<table class="table table-hover table-responsive" style="background-color:white;">
					<thead class="navbar-inner" style="background-color:skyblue;">
					<tr>
						<th style="width:3%;"><input type="checkbox"></th>
						<th style="width:5%;">编号</th>
						<th style="width:13%;">商户名称</th>
						<th style="width:10%;">主营项目</th>
						<th style="width:10%;">联系人</th>
						<th style="width:10%;">入驻时间</th>
						<th style="width:10%;">到期时间</th>
						<if condition="$program_id eq JT201711081030423109">
						<th style="width:10%;">首页推荐</th></if>
						<th style="width:7%;">状态</th>
						<th style="width:20%;">操作</th>
					</tr>
					</thead>
					<tbody>
					<foreach name="list" item="v">
				        <tr rel="pop" data-title="ID: {$v.id} ">				
					        <td>
					            <input value="{$v.id}" type="checkbox">
					        </td>
					        <td>{$v.id}</td>					                        
					        <td>{$v.sh_name}</td>
					        <td>{$v.main_project}</td>
					        <td>{$v.linkman}<br>{$v.tel}</td>
					        <td>
					        	<?=date("Y-m-d",$v['time_add']);?><br/>
					        	<?=date("H:i:s",$v['time_add']);?>
					        </td>
					        <td>
					        	<?=date("Y-m-d",$v['time_over']);?><br/>
					        	<?=date("H:i:s",$v['time_over']);?>
					        	
					        </td>
					        	<if condition="$program_id eq JT201711081030423109">
						    <td>
					        	<if condition="$v.is_recommend eq 1" ><span style="color:green;">是</span></if>
					        	<if condition="$v.is_recommend eq 2">否</if>
					        	
					        </td>
					        	</if>
					        <td>
					        	<if condition="$v.state eq 1">待审核</if>
					        	<if condition="$v.state eq 2">待入驻</if>
					        	<if condition="$v.state eq 3">入驻中</if>
					        	<if condition="$v.state eq 4">申请拒绝</if>
					        	<if condition="$v.state eq 5">禁止</if>
                           <!--      <span class="label label-default">待入驻</span>-->
                            </td>
					        <td style="overflow:visible;">
					            <a href="edit_sh/id/{$v['id']}" class="btn btn-default btn-sm"> 详情  </a>     
					            <a href="qdcode/id/{$v['id']}" class="btn btn-default btn-sm"> 二维码  </a>     
					            <a data-toggle="ajaxRemove" href="sh_stop_used/id/{$v['id']}" class="btn btn-default btn-sm" onclick="if(confirm('确认停止服务吗？')==false)return false;">暂停</a>
					        </td>
					    </tr>
					    </foreach>
					
					</tbody>
				</table>
				<div class="pages self_css"> {$pages}</div>
			</div>
		</div>
		<!--====================主体  结束===============-->
	</div>	
<script>	
	$("#text_str").change(function(){
		$("#a_str").attr("href","in_ing?str="+$("#text_str").val());
	})	
</script>
</body>
</html>
