<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_merch" />
		<!--商户区域管理-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con"  style="min-height: 840px;">
				<div style="height:60px;border-bottom:1px solid #000000;padding:10px;background:skyblue;">
					<h4 style="margin:10px;float:left;">商户区域管理 </h4>
					<div style="float:right;">
		
						 <a href="merch_area_set_add" class="btn btn-primary"><i class="fa fa-plus"></i> 添加商户区域</a>	
					</div>
				</div>
				<table class="table table-responsive table-hover">
					<thead class="navbar-inner" style="background:gainsboro;">
					<tr>
						<th style="width:25px;"><input type="checkbox"></th>
						<th style="width: 35px;">排序</th>
						<th style="width: 180px;">名称</th>
					
						<th style="width: 180px;">操作</th>
					</tr>
					</thead>
					<tbody>
					<foreach name="list" item="v">
					<tr>
						<td> <input type="checkbox" value=""></td>
						<td>{$v.sort}</td>
						<td>{$v.title}</td>
						<td style="text-align:left;">
							<a href="merch_area_set_edit?id={$v.id}" class="btn btn-default btn-sm" style="margin-left: 38%;">修改 </a>
							<a  class="btn btn-default btn-sm" title="删除" alt="删除" href="merch_area_set_delete/id/{$v['id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
						</td>
					</tr>
					</foreach>	
					
					</tbody>
				</table>
			</div>
		</div>
		<!--====================主体  结束===============-->
	</div>	
<script>
	//广告ajax 显示隐藏
	$(".peng_is_ok").click(function(){
		var onw_id=$(this).children('input').val();
	
		var that = this;
	
		 $.post('__ROOT__/adp.php/Index/ajax_change_show',{'id':onw_id,'from_id':"4"},function(date){
	        if(date==1){
	        	if($(that).attr("class")=="label label-success peng_is_ok peng_ok"){
	        		$(that).attr("class","label label-default peng_is_ok peng_not");
	        		$(that).children('span').text("隐藏");
	        	}else if($(that).attr("class")=="label label-default peng_is_ok peng_not"){
	        		$(that).attr("class","label label-success peng_is_ok peng_ok");
	        		$(that).children('span').text("显示");
	        	}
	        }else{
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>
</body>
</html>
