<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_set" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
				<div class="page-heading" style="padding:10px;border-bottom:1px solid #000000;">
		            <span class="pull-right">
		            <a class="btn btn-primary btn-sm" href="">+添加打印机</a>
			        </span>
			    	<h4>打印机管理</h4>
		       </div>
		       
		        <div class="panel">					
						 暂时没有任何小票打印机!				
				</div>
			</div>	    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
