<include file="Public/head" />  

<style>
	.fenlei{
		width:15%;
		height:80%;
		border:1px solid #000000;
		float:left;margin-top: 5px;
		text-align: center;
		margin-left:10px;
		border-radius: 8px;
	}
</style>
	<div class="contert">
		<include file="Public/menu" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">	
				<div style="border-bottom:1px solid #000000;height:60px; padding:20px;">
				    <span style=" font-size:20px;">首页推荐</span>				   
				</div>	
				<form action="" method="post" class="form-validate" novalidate="novalidate">
		            <div class="alert alert-success">提示: 请在下方选择要显示的推荐分类; 不选择则将不显示;选择顺序即为显示顺序</div>  				      
					  
						<div style="width: auto;height:36px;">
				<div style="width:120px;height:36px;float:left;font-size:20px;line-height:40px;">
					商品分类:
				</div>
			
		        
		       <!-- <div style="width:100%;height:50px;border:1px solid #000000; line-height:40px; border-radius:4px;float:left; padding-left:20px;">
		        	<div class="fenlei" >推荐新品</div>
		        	<div class="fenlei" >热卖商品</div>
		        	<div class="fenlei" >促销商品</div>
		        	<div class="fenlei" >新上商品</div>
		        	<div class="fenlei" >包邮商品</div>
		        </div>-->
		        <div style="width:800px;height:36px;border:1px solid #000000;line-height:36px;background:white;float:left; padding-left:20px;">			
			    	<span style="border:1px solid #000000; background:gainsboro;padding:4px 8px;">推荐新品</span>
			        <span style="border:1px solid #000000; background:gainsboro;padding:4px 8px;">热卖商品</span>
			        <span style="border:1px solid #000000; background:gainsboro;padding:4px 8px;">促销商品</span>
			        <span style="border:1px solid #000000; background:gainsboro;padding:4px 8px;">新上商品</span>
			        <span style="border:1px solid #000000; background:gainsboro;padding:4px 8px;">包邮商品</span>
		        </div>
		    </div>
		          						       
			    </form>
			       </div>		    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
