<include file="Public/head" />
<include file="Public/menu_orderktvonlinebeer" />
<style>
	 .bottom_u{
		 margin-bottom: 1px;
		 margin-top: -10px;
	}
	.bottom_d{
		margin-bottom: 1px;
		margin-top: 2px;
	}
	td{
		border-bottom: 1px solid #ddd;
	}
</style>
<div id="content">
	<div id="content-header">
		<h1>核销订单管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 订单管理</a>
		<a href="#" class="current">核销订单管理</a>


	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
						<h5>核销订单管理</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th style="width:5%;">单号</th>
						
								<th style="width:5%;">商户</th>
								<th style="width:5%;">店员</th>
								<th style="width:5%;">消费金额</th>
								<th style="width:5%;">支付时间</th>
								<th style="width:9%;">操作</th>
							</tr>
							</thead>
							<tbody>
							<volist name="list" id="v">
								<tr>	
									<td>{$v.order_num}</td>
									<td>{$v.sh_name}</td>
									<td>店员</td>
									<td>{$v.order_price}</td>
									<td>
										{$v.time_pay|date="Y-m-d",###}<br>{$v.time_pay|date="H:i:s",###}
									</td>
									<td>
										<if condition="$v['state_hexiao'] eq 1">
											<span style="color:#8c8989;">已核销</span>
											<else/>
											<a  onclick="hexiao(this);" a="{$v.order_num}" class="btn btn-danger bottom_u" style="color:white;">订单核销</a>
										</if>
										
									</td>
								</tr>
								
							</volist>

							</tbody>
						</table>
						<div class="pages self_css"> {$pages}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<include file="Public/modal" /> 
<include file="Public/change_price" />  
<include file="Public/foot" />


<script>
function hexiao(item){
//	alert($(item).attr("a"))
	if(confirm('确认订单核销吗？')){
		$.post('__ROOT__/adp.php/Order/action_hexiao',{'order_num':$(item).attr("a")},function(date){	
			if(date==1){
				
				$("#myModalLabel").text("核销成功")
				
				$("#add-event").click();
				setTimeout(function(){
					window.location.reload();
				},2000);
			}else{
				$("#myModalLabel").text("核销失败")
					$("#add-event").click();
			}
        },'json');
		
	}else{
		return false;
	}
}

$(".edit_remark").click(function(){
	$("#add-event_1").click();	
	$("#text_remark").text($(this).attr("a"))
})
	
$(".change_price").click(function(){
	$("#add-event_2").click();	
	$("#order_num12138").val($(this).attr("a"))
	$("#price_old").val($(this).attr("b"))
})


</script>
<script>
	$("#div_submit").click(function(){
		if(!$("#change_price").val()){
			alert("请填写修改价格");
			return false;
		}

		$.post('__ROOT__/adpp.php/Order/change_price',{'order_num':$("#order_num12138").val(),'price':$("#change_price").val()},function(date){	
			if(date==1){
				$("#add-event_2").click();	
				$("#myModalLabel").text("设置成功")
				$("#add-event").click();
				setTimeout(function(){
					window.location.reload();
				},2000);
			}else{
				$("#myModalLabel").text("设置失败")
					$("#add-event").click();
			}
        },'json');
	})

</script>	