<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_orderktvonlinebeer" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
			    <div class="page-heading" style="border-bottom:1px solid #000000;padding-left:20px;">
					<h4 style="margin-top:20px;">订单管理</h4>
					<span>订单数:  <span class="text-danger">0</span>  订单金额:  <span class="text-danger">0.00</span> </span>					
				</div>
				<div class="panel panel-default">                 
				        暂时没有任何信息				  
				</div>
			</div>	    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
