	<style>
   *{padding:0px; margin:0px;}
	a{text-decoration: none;}
	#myModal .modal-body {padding: 10px 15px;}
		#myModal .tab-pane {margin-top: 5px; min-height: 350px; max-height: 350px; overflow-y: auto;}
		#myModal .page-header {padding: 5px 0; margin-bottom: 8px;}
		#myModal .page-header h4 {margin: 0;}
		#myModal .btn {margin-bottom: 3px;}
		#myModal .modal-dialog {width: 880px;}
		#myModal .line {border-bottom: 1px dashed #ddd; color: #999; height: 36px; line-height: 36px;}
		#myModal .line .icon {height: 35px; width: 30px; position: relative; float: left;}
		#myModal .line .icon.icon-1:before {content: ""; width: 10px; height: 10px; border: 1px dashed #ccc; position: absolute; top: 12px; left: 10px;}
		#myModal .line .icon.icon-2 {width: 50px;}
		#myModal .line .icon.icon-2:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 20px;}
		#myModal .line .icon.icon-3 {width: 60px;}
		#myModal .line .icon.icon-3:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 30px;}
		#myModal .line .btn-sm {float: right; margin-top: 5px; margin-right: 5px; height: 24px; line-height: 24px; padding: 0 10px;}
		#myModal .line .text {display: block;}
		#myModal .line .label-sm {padding: 2px 5px;}
		#myModal .line.good {height: 60px; padding: 4px 0;}
		#myModal .line.good .image {height: 50px; width: 50px; border: 1px solid #ccc; float: left;}
		#myModal .line.good .image img {height: 100%; width: 100%;}
		#myModal .line.good .text {padding-left: 60px; height: 52px;}
		#myModal .line.good .text p {padding: 0; margin: 0;}
		#myModal .line.good .text .name {font-size: 15px; line-height: 32px; height: 28px;}
		#myModal .line.good .text .price {font-size: 12px; line-height: 18px; height: 18px;}
		#myModal .line.good .btn-sm {height: 32px; padding: 5px 10px; line-height: 22px; margin-top: 9px;}
		#myModal .tip {line-height: 250px; text-align: center;}
		#myModal .nav-tabs > li > a {padding: 8px 20px;}
</style>
	  <!--选择链接的modal---------------------------------开始-------->   
			   <div class="modal fade" id="myModal" aria-hidden="false" style="display:none;">
	<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">选择链接</h4>
        </div>
        <div class="modal-body">
        	<ul class="nav nav-tabs" id="selectUrlTab">
        		<li class="active"><a href="#sut_shop">商城</a></li>
				<li class=""><a href="#sut_good">商品</a></li>
				<li class=""><a href="#sut_cate">商品分类</a></li>
				<li class=""><a href="#sut_merch">合作商户</a></li>
				<if condition="$head_menu eq 1">
					<!--商城版-->
					<li class=""><a href="#sut_artical">文章选择</a></li>
				<!--	<li class=""><a href="#sut_fenxiao">分销系统</a></li>-->
				</if>
				<if condition="$head_menu eq 5">
					<!--资讯版-->
					<li class=""><a href="#sut_artical">文章选择</a></li>
				</if>
				<if condition="$head_menu eq 6">
					<!--服务版-->
				</if>

				<!--<li class=""><a href="#sut_coupon">优惠券</a></li>	-->								
			</ul>
			<div class="tab-content ">
<!--diyend-->
				<div class="tab-pane active" id="sut_shop">					
					<div class="page-header">
						<h4> 商城页面</h4></div>				
						<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.index}" title="商城首页">商城首页</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.fenleidaohang}" title="分类导航">分类导航</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.quanbushagnpin}" title="全部商品">全部商品</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.gouwuche}" title="购物车">购物车</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.duodian_register}" title="购物车">多店申请页面</nav>
		
					
					<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.lianxidianhua}" title="联系电话">联系电话</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.youhuiquan}" title="联系电话">优惠券</nav>
					<if condition="$program_id eq JT201711031347219168">
				<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.goods_activity_xiaofefima}" title="联系电话">消费码活动</nav>
				</if>
		<!--			<div class="page-header">
						<h4><i class="fa fa-folder-open-o"></i>多商铺</h4>
					</div>
					<nav data-href="" class="btn btn-default btn-sm" title="店铺列表">店铺列表</nav>					
					<nav data-href="" class="btn btn-default btn-sm" title="店铺申请">店铺申请</nav>					
		--><!--			<div class="page-header">
						<h4><i class="fa fa-folder-open-o"></i> 商品属性</h4>
					</div>
					<nav data-href="" class="btn btn-default btn-sm" title="推荐商品">推荐商品</nav>
					<nav data-href="" class="btn btn-default btn-sm" title="新品上市">新品上市</nav>
					<nav data-href="" class="btn btn-default btn-sm" title="热卖商品">热卖商品</nav>					
					<nav data-href="" class="btn btn-default btn-sm" title="促销商品">促销商品</nav>					
					<nav data-href="" class="btn btn-default btn-sm" title="卖家包邮">卖家包邮</nav>
		-->			<div class="page-header">
						<h4><i class="fa fa-folder-open-o"></i> 会员中心</h4>
					</div>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.huiyuanzhongxin}" title="会员中心">会员中心</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.dingdan_all}" title="我的订单(全部)">我的订单(全部)</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.dingdan_dfk}" title="待付款订单">待付款订单</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.dingdan_dfh}" title="待发货订单">待发货订单</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.dingdan_dsh}" title="待收货订单">待收货订单</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.dingdan_ywc}" title="已完成订单">已完成订单</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.shoucang}" title="我的收藏">我的收藏</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.about_us}" title="关于我们">关于我们</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007"  value="{$url_search.user_address}" title="用户地址展示">用户地址展示</nav>
			
			
					<div class="page-header">
						<h4><i class="fa fa-folder-open-o"></i> 分销中心</h4>
					</div>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.fenxiaozhongxin}" title="分销中心">分销中心</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.fx_erweima}" title="推广二维码">推广二维码</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.fx_yongjin}" title="分销佣金">分销佣金</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.fx_shangxiaji}" title="分销上下线">分销上下线</nav>
					<nav data-href="" class="btn btn-default btn-sm choose_007" value="{$url_search.fx_tixian}" title="分销提现页面">分销提现页面</nav>
					
		<!--			<div class="page-header">
						<h4><i class="fa fa-folder-open-o"></i> 优惠券</h4>
					</div>
					<nav data-href="" class="btn btn-default btn-sm" title="领取优惠券">领取优惠券</nav>
					<nav data-href="" class="btn btn-default btn-sm" title="我的优惠券">我的优惠券</nav>
			-->	
				</div>
					
				<div class="tab-pane" id="sut_good">
					<div class="input-group">
						<input type="text" placeholder="请输入商品名称进行搜索" id="select-good-kw" value="" class="form-control search_title">
							<span class="input-group-addon btn btn-default select-btn "  id="search"  data-type="good">搜索</span>
					</div>
					<div id="select-good-list" >
					<!--	<li><img src="__ROOT__/Uploads/2017-09-01/59a936cf44aa2.jpg">12</li>
					-->
					
					<!--<div class="line" style="height: 55px;line-height: 55px;">
						<nav title="选择" class="btn btn-default btn-sm" data-href="">选择</nav>
						<div class="text"><img style="width:25px;height:25px;" src="__ROOT__/Uploads/2017-09-01/59a936cf44aa2.jpg">123</div>
					</div>-->
					
					</div>
				</div>
				<div class="tab-pane" id="sut_merch">
					<div class="input-group">
						<input type="text" placeholder="请输入商户名称进行搜索" value="" class="form-control search_merch_title">
							<span class="input-group-addon btn btn-default select-btn "  id="search_merch"  data-type="good">搜索</span>
					</div>
					<div id="select-merch-list" >
			
					</div>
				</div>
				
				<div class="tab-pane" id="sut_cate">
					<foreach name="fenlei" item="v">
							<div class="line">
								<div class="icon icon-1"></div>
								<if condition="$program_id eq JT201710231803407137">
									
									<nav title="选择" class="btn btn-default btn-sm choose_007" value="{$url_search.fenlei_search_only}{$v.id}">选择</nav>
									<else/>
									<nav title="选择" class="btn btn-default btn-sm choose_007" value="{$url_search.fenlei_search}{$v.id}">选择</nav>
								</if>
									
							<div class="text">{$v.title}</div>
							</div>
						<foreach name="v['child']" item="vo">
							<div class="line">
								<div class="icon icon-2"></div>
								<nav title="选择" class="btn btn-default btn-sm choose_007" value="{$url_search.fenlei_shangpin}{$vo.id}">选择</nav>
								<div class="text">{$vo.title}</div>
							</div>
						</foreach>
					</foreach>
					
				</div>	
				<div class="tab-pane" id="sut_artical">
					<foreach name="artical" item="v">
							<div class="line">
								<div class="icon icon-1"></div>
								<nav title="选择" class="btn btn-default btn-sm choose_007" value="../product/detail2?artical_id={$v.id}">选择</nav>
								<div class="text">{$v.title}</div>
							</div>
						
					</foreach>
					
				</div>	
				<!--优惠券   开始--------------->
				<!--<div class="tab-pane" id="sut_coupon">
					<div class="input-group">
						<input type="text" placeholder="请输入优惠券名称进行搜索" id="select-coupon-kw" value="" class="form-control">
						<span class="input-group-addon btn btn-default select-btn" data-type="coupon">搜索</span>
					</div> 
					<div id="select-coupon-list"></div>
				</div>-->
				<!--优惠券   结束--------------->
            </div>
	        <div class="modal-footer">
	            <button data-dismiss="modal" class="btn btn-default" id="guanbi" type="button">关闭</button>
	        </div>
        <script>
        	$(function(){
        		$("#myModal").find('#selectUrlTab a').click(function(e) {
					$('#tab').val($(this).attr('href'));
					e.preventDefault();
					$(this).tab('show');
				});
        	});
        	
        	
  
        	
        	  	//子商户名称搜索
        	$("#search_merch").click(function(){
        	if(!$(".search_merch_title").val()){
        		alert("请填写商户名称");
        		return false;
        	}
        	 	
   $.post('__ROOT__/adp.php/Index/self_url_merch',{'title':$(".search_merch_title").val()},function(data){
  // console.log(self_url_goods);
	    	
	    	var obj=eval(data);
			var dh='';
	        for (var i=0;i<obj.length;i++){  
	         console.log(i);
				dh+=' <div class="line" style="height: 55px;line-height: 55px;">  ';		
	       		dh+=' <nav title="选择" class="btn btn-default btn-sm choose_007 " id="'+obj[i].id +'" onclick="f2_m(this)" value=" ' +obj[i].id + ' " data-href="">选择</nav> ';
	       		dh+=' <div class="text">  ';
	       		dh+=' <img style="width:25px;height:25px;" src="https://sz800800.cn/Uploads/' +obj[i].logo + ' ">  ';
	       		dh+=  obj[i].sh_name  ;
	       		dh+=' </div>  ';
	       		dh+=' </div>  ';
	        //22aa
	         }
	         document.getElementById('select-merch-list').innerHTML=dh;
	        },'json');
        })
        function f2_m(item){
      
	       	$("#url_value").val("../shop_store/store?id="+item.id);
			$("#guanbi").click();	
        }
        </script>
        
        <!--选择链接的modal---------------huandeng_add.html------------------结束-------->