<include file="Public/head" />
<include file="Public/menu_secondhand" />
<style>
	.bottom_u{
		margin-bottom: 1px;
		margin-top: -10px;
	}
	.bottom_d{
		margin-bottom: 1px;
		margin-top: 2px;
	}
	td{
		border-bottom: 1px solid #ddd;
	}
</style>
<div id="content">
	<div id="content-header">
		<h1>订单管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 订单管理</a>
		<a href="#" class="current">已完成</a>
	<button id="search_button_order_num" class="btn" style="float: right;margin-top: 3px;margin-left: -3px;margin-right: 22px;" >搜索</button>
		<input type="text" placeholder="订单号码" value="{$his_str}" id="search_str" style="float: right;margin-top: 3px;" onBlur="this.value=ignoreSpaces(this.value);">
	

	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
						<h5>订单管理</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th style="width:5%;">商品</th>
								<th style="width:5%;"></th>
								<th style="width:5%;">单价/数量</th>
								<th style="width:5%;">买家</th>
								<th style="width:5%;">支付/配送</th>
								<th style="width:5%;">价格</th>
								<th style="width:5%;">下单时间</th>
								<th style="width:9%;">操作</th>
							</tr>
							</thead>
							<tbody>
							<volist name="list" id="vo">
								<volist name="vo[info]" id="sub" key="k">
									<if condition="$k eq 1">
										<tr>
											<td style="border: 1px;"><div style="width: 184%;font-weight: 600;">订单编号:  {$vo.order_num}</div></td>
											<td></td>
											<notempty name="vo[sh_name]">
											<td style="border: 1px;"><div style="width: 184%;font-weight: 600;text-align: left;">商户：{$vo.sh_name}</div></td>
											</notempty>
										</tr>
									</if>
									<tr>
										<td><img src="__ROOT__/Uploads/{$sub.image}" style="width:50px;height:50px;border:1px solid #ccc; padding:1px;"></td>
										<td>{$sub.goods_title}</td>
										<td <if condition="$k neq 1"> style="border-right: 1px solid #ddd;"</if>>
										<if condition="$sub.is_use_guige eq 2">{$sub.guige_price}	<else/>{$sub.price_sell}</if>
										<br>x{$sub.buy_num}
										<br>
										<if condition="$vo.is_change_price eq 1">
											<span style="color:red;">(改价)</span>{$vo.change_price}
										</if>
										</td>
										<if condition="$k eq 1">
											<td> {$vo.nickname} <br/>{$vo.tel} </td>

											<td>
												<label class="label label-default">已完成</label>
												<br>
												<span style="margin-top:5px;display:block;">快递</span>
											</td>
											<td>
												￥{$vo.price_all_a}<br/>
												<if condition="$vo['pay_method'] eq 2"><text style="color:red;">积分支付</text></if>
												<if condition="$vo['pay_method'] eq 3"><text style="color:red;">消费券支付</text></if>
											</td>
											<td>
												{$vo.time_build|date="Y-m-d",###}<br>{$vo.time_build|date="H:i:s",###}
											</td>

											<td>
												<a class="btn btn-danger bottom_u wuliu_con" style="color:white;"  href="javascript:"   a="{$vo.order_num}" b="{$vo.express_num}" c="{$vo.express_num_name}">物流信息</a>

												<a class="btn btn-danger bottom_u" style="color:white;"  title="查看详情" alt="查看详情" href="order_con?order_num={$vo.order_num}" >查看详情</a>
											
											</td>

										</if>
									</tr>
								</volist>
							</volist>

							</tbody>
						</table>
						<div class="pages self_css"> {$pages}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<include file="Public/modal" /> 
<include file="Public/order_wuliu" />
<include file="Public/foot" />
<include file="Public/input_search" />
<script>

$(".edit_remark").click(function(){
	$("#add-event_1").click();	
	$("#text_remark").text($(this).attr("a"))
})

	
$(".edit_fahuo").click(function(){
	var that=this;	
	if(confirm('确认修改发货信息吗？')==false){
		return false;
	}else{
		
		$.post('__ROOT__/adp.php/Order/ajax_kuaidi',{'order_num':$(this).attr("a")},function(order_form){	
	
		$("#order_num").val(order_form.order_num);
		$("#shouhuo_man").val(order_form.man_shouhuo);
		$("#shouhuo_phone").val(order_form.man_shouhuo);
		$("#man_address").val(order_form.man_address);

	    },'json');
		
		$("#add-event_fahuo").click();	
		$("#order_num12138_fahuo").val($(that).attr("a"))


	}
	
})

$(".wuliu_con").click(function(){
	var that=this;	
	$.post('__ROOT__/adp.php/Example/index',{'order_num':$(this).attr("a")},function(result){	
	
		if(result==0){
				$("#modal-body").text("无物流信息");
			}else{
			var obj = eval(result);
			var dh = '';
			for(var i = 0; i < obj.length; i++) {
				if(obj[i].time != ""){
					dh += '<li> ' + obj[i].time +'&nbsp'+ obj[i].context + ' </li> &nbsp';
				}		
				document.getElementById('modal-body').innerHTML = dh;	
			}	
		}		

	    },'json');
	
	$("#add-event_wuliu").click();	

	$("#express_num_num").text($(this).attr("b"))
	$("#express_num_name").text($(this).attr("c"))
})
</script>	

