<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_goodsbear" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
				<div style="border-bottom:1px solid #000000;height:60px; padding:20px;">
				    <span style="font-size:20px;">商品概述</span>
				    <a href="../goods/goods.html"><button class="btn btn-primary" style="float:right;">+添加商品</button></a>				   
				</div> 			

			    <div style="height:140px; width:100%;margin:10px 0px; border:1px solid red; background-color:darkkhaki;">
		            <div class="contact-box">
		                <div class="col-sm-1"name="program_logo">
		                   <img src="http://res.cnmmsc.org/attachment/images/5958/2017/09/vboB58Q6JI3Lf66fFBBobBow8Q8fMt.jpg" style="width:65px;height:65px;border-radius:5px">
		                </div>
			            <div class="col-sm-10" style="padding-left:10px">
			                <h3 name="program_title">阳澄湖大闸蟹水产基地线上直销</h3>
			                <p name="abstract">蟹先生欢迎您来苏州阳澄湖大闸蟹水产基地现场捕蟹，现场免费吃蟹。也欢迎您在线订购正宗阳澄湖大闸蟹。无论是家人美肴，还是孝敬长辈、传递友情、商务往来之礼仪，蟹先生阳澄湖大闸蟹都是经典首选。</p>
			            </div>
			        	<div class="col-sm-1" style="padding-left: 0"><a class="btn btn-primary btn-sm" href="../set/set.html" style="color: #fff"> 点击修改</a></div>
			            <div class="clearfix"></div>
		            </div>
                </div>
			    			   	    
		        <div class="contact-box" style="text-align:center;">
		            <div class=" col-md-12 col-sm-12">
		                <div class="row">
		                	<a href="">
		                        <div class="col-sm-3 forum-info">
		                        <span class="views-number goods_totals">0</span>
		                            <div>
		                                <small>已出售商品</small>
		                            </div>
		                        </div>
		                   </a>		                                        
		                    <a href="">
		                        <div class="col-sm-3 forum-info">
		                            <span class="views-number status1">0</span>
		                            <div>
		                                <small>待发货订单</small>
		                            </div>
		                        </div>
		                    </a>			                                                
		                    <a href="">
		                        <div class="col-sm-3 forum-info">
		                            <span class="views-number status4">0</span>
		                            <div>
		                                <small>维权中订单</small>
		                            </div>
		                        </div>
		                    </a>			                                        
		                    <a href="">
		                    <div class="col-sm-3 forum-info">
		                        <span class="views-number finance_total">0</span>
		                        <div>
		                            <small>待审核提现</small>
		                        </div>
		                    </div>
		                    </a>
		                </div>
		            </div>
		        </div>
			      
			</div>			    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
