<include file="Public/head" />	

<div style="width:80%;height:auto;">
	<form class="form-horizontal" role="form" >
		<div class="form-group">
			<label for="firstname" class="col-sm-2 control-label">账号:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="firstname" placeholder="请输入账号">				   
			</div>
		</div>
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">密码:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="lastname" placeholder="请输入密码">				   
			</div>
		</div>	
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">电话:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="lastname" placeholder="请输入手机号">				   
			</div>
		</div>	
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">邮箱:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="lastname" placeholder="请输入邮箱">				   
			</div>
		</div>
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">小程序APPid:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="lastname" placeholder="请输入小程序APPid">				   
			</div>
		</div>	
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">确认添加</button>				
				<button class="btn btn-primary" onclick="history.go(-1)" style="0px 20px">返 回</button>
			</div>
		</div>
	</form>
</div>