<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_members" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
				<div style="border-bottom:1px solid #000000;height:60px;padding:10px;">
					<h3 style="width:30%;float: left;">会员等级</h3>
				     <a href="members_lever_add"><button class="btn btn-primary" style="float:right;">+添加等级</button></a>
				</div>
				<table id="maintable1"  class="table table-hover table-responsive">
		        <thead>
			        <tr>
			            <th style="width:30px;"><input type="checkbox"></th>
			            <th style="width:60px;">等级</th>
			            <th style="width:60px;">等级名称</th>
			            <th style="width:80px;">折扣</th>			
			            <th style="width:60px;">升级条件</th>
			            <th style="width:80px;">是否启用</th>
			            <th style="width:60px;">操作</th>
			        </tr>
		        </thead>
		        <tbody id="grade">    
		        	<foreach name="member_level" item="v">
			        <tr style="background-color:#eee;" id="content1" target="sid_user">
				        <td><input type="checkbox"></td>        
				        <td id="member_level">{$v.member_level}</td>              
				        <td id="member_level_name">{$v.member_level_name}</td>
				        <td></td>
				        <td id="condition">{$v.condition}</td>
				        <td id="state">
				        	<if condition="$v.state eq 0">否</if>
				        	<if condition="$v.state eq 1">是</if>
				        </td>      
				        <td>
				           <a href="__ROOT__/adp.php/Members/members_lever_edit?id={$v.id}" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> 修改</a>            
				     		<if condition="$v.cannot_d eq 2">
				                <a onclick="if(confirm('确认删除吗？')==false)return false;"  class="btn btn-default  btn-sm" href="__ROOT__/adp.php/Members/members_lever_delete?id={$v.id}">删除</a>  
				            </if>
				        </td>
			        </tr> 
			        </foreach>
		        </tbody>
                </table>
			</div>	    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
