<include file="Public/head" />    

	<div class="contert">
		<include file="Public/menu" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		
		<div class="show" id="tabC1">
			<div class="con">
				<div style="border-bottom:1px solid #000000;height:60px; padding:20px;">
				    <span style=" font-size:20px;">导航管理</span>
				    <a href="daohang_add"><button class="btn btn-primary" style="float:right;">+添加首页导航</button></a>
				</div>													
				<form action="">
					<input type="hidden" name="oldimg">
			        <table class="table table-responsive table-hover">
				        <thead class="navbar-inner">
				            <tr>
				                <th style="width:25px;"><input type="checkbox" id="heads"></th>
				                <th style="width:50px">顺序</th>		
				                <th style="width:140px;">标题</th>
				                <th>链接</th> 
				                <th style="width:80px; text-align: center;">图标</th>						               
				                <th style="width:60px">显示</th>
				                <th style="width: 145px;">操作</th>
				            </tr>
				        </thead>
				        <tbody id="daohang">	
				        	<foreach name="daohang" item="v">
                        <tr>
                            <td>{$v.id}</td>
							 <td>{$v.sort}</td>
							 <td>{$v.title}</td>
							 <td>{$v.url}</td>
							 <td>
						<img style="width:40px;height:40px;" src="__ROOT__/Uploads/{$v.image}">						
							<!-- <img src="__ROOT__/Uploads/2017-09-01/59a936cf44aa2.jpg">
							--> </td>
							 <td>
							 	<if condition="$v.is_show eq 1">
							 		<div class="peng_is_ok peng_ok">
							 			<input type="hidden" value="{$v.id}">
							 			<span>显示</span>
							 		</div>
							 	</if>
							 	
							 	<if condition="$v.is_show eq 2">
							 		<div class="peng_is_ok peng_not">
							 			<input type="hidden" value="{$v.id}">
							 			<span>隐藏</span>
							 		</div>
							 	</if>
							 </td>
                            <td>
                         
                            	    <a class="btn btn-default"  title="修改" alt="修改" href="daohang_edit/id/{$v['id']}" >修改</a>
                            
									<a class="btn btn-danger" style="color:white;"  title="删除" alt="删除" href="daohang_delete/id/{$v['id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
							
                            </td>
                        </tr>
                    </foreach>	   
				        </tbody>
			        </table>			                
			   </form>												
			</div>		    
				<!--====================主体  结束===============-->
           </div>				
	</div>	
<script>
	//导航 ajax 显示隐藏
	$(".peng_is_ok").click(function(){
		var onw_id=$(this).children('input').val();
	
		var that = this;
		 $.post('__ROOT__/adp.php/Index/ajax_change_show',{'id':onw_id,'from_id':"3"},function(date){
	        if(date==1){
	        	if($(that).attr("class")=="peng_is_ok peng_ok"){
	        		$(that).attr("class","peng_is_ok peng_not");
	        		$(that).children('span').text("隐藏");
	        	}else if($(that).attr("class")=="peng_is_ok peng_not"){
	        		$(that).attr("class","peng_is_ok peng_ok");
	        		$(that).children('span').text("显示");
	        	}
	        }else{
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>
</body>
</html>
