<include file="Public/head" />
<include file="Public/menu_gold" />
<div id="content">
	<div id="content-header">
		<h1>实时金价</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">实时金价</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>实时金价</h5>
						<h5 id="time">{$list.16.Date}</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>商品</th>
								<th>回购</th>
								<th>销售</th>
							</tr>
							</thead>
							<tbody>
<!--								
								<tr>
									<td>黄金</td>
									<td id="a1_b">{$list.16.BP1}</td>
									<td id="a1_s">{$list.16.SP1}</td>
								</tr>
								<tr>
									<td>铂金</td>
									<td id="a2_b">{$list.13.BP1}</td>
									<td id="a2_s">{$list.13.SP1}</td>
								</tr>
								<tr>
									<td>钯金</td>
									<td id="a3_b">{$list.14.BP1}</td>
									<td id="a3_s">{$list.14.SP1}</td>
								</tr>
								<tr>
									<td>白银</td>
									<td id="a4_b">{$list.15.BP1}</td>
									<td id="a4_s">{$list.15.SP1}</td>
								</tr>
								-->
								<tr>
									<td>黄金</td>
									<td id="a1_b">{$list.11.BP1}</td>
									<td id="a1_s">{$list.11.SP1}</td>
								</tr>
								<tr>
									<td>白银</td>
									<td id="a4_b">{$list.8.BP1}</td>
									<td id="a4_s">{$list.8.SP1}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<include file="Public/foot" />
<script>
	var that = this;
	var aa=1
	ajax_l()

    function ajax_l(){
	    if(aa<999999999){
			setTimeout(function () { 
				ajax_u()
				aa++
				ajax_l()
			}, 3000);
		}
    }
    
    function ajax_u(){
    	$.post('__ROOT__/adp.php/Gold/ajax',{},function(date){
	  	$("#time").text(date[0].Date)
//	  
//	  	if(date[16].BP1>$("#a1_b").text()){ $("#a1_b").css("color","red") }else if(date[16].BP1==$("#a1_b").text()){$("#a1_b").css("color","black") }else{ $("#a1_b").css("color","green") }
//	  	if(date[16].SP1>$("#a1_s").text()){ $("#a1_s").css("color","red") }else if(date[16].SP1==$("#a1_s").text()){$("#a1_s").css("color","black") }else{ $("#a1_s").css("color","green") }
//       	$("#a1_b").text(date[16].BP1)
//       	$("#a1_s").text(date[16].SP1)
//       	
//      if(date[13].BP1>$("#a2_b").text()){ $("#a2_b").css("color","red") }else if(date[13].BP1==$("#a2_b").text()){$("#a2_b").css("color","black") }else{ $("#a2_b").css("color","green") }
//	  	if(date[13].SP1>$("#a2_s").text()){ $("#a2_s").css("color","red") }else if(date[13].SP1==$("#a2_s").text()){$("#a2_s").css("color","black") }else{ $("#a2_s").css("color","green") }
//       	$("#a2_b").text(date[13].BP1)
//       	$("#a2_s").text(date[13].SP1)
//      
//      if(date[14].BP1>$("#a3_b").text()){ $("#a3_b").css("color","red") }else if(date[14].BP1==$("#a3_b").text()){$("#a3_b").css("color","black") }else{ $("#a3_b").css("color","green") }
//	  	if(date[14].SP1>$("#a3_s").text()){ $("#a3_s").css("color","red") }else if(date[14].SP1==$("#a3_s").text()){$("#a3_s").css("color","black") }else{ $("#a3_s").css("color","green") }
//       	$("#a3_b").text(date[14].BP1)
//       	$("#a3_s").text(date[14].SP1)
//      
//      if(date[15].BP1>$("#a4_b").text()){ $("#a4_b").css("color","red") }else if(date[15].BP1==$("#a4_b").text()){$("#a4_b").css("color","black") }else{ $("#a4_b").css("color","green") }
//	  	if(date[15].SP1>$("#a4_s").text()){ $("#a4_s").css("color","red") }else if(date[15].SP1==$("#a4_s").text()){$("#a4_s").css("color","black") }else{ $("#a4_s").css("color","green") }
//       	$("#a4_b").text(date[15].BP1)
//       	$("#a4_s").text(date[15].SP1)
//       	

	  	if(date[11].BP1>$("#a1_b").text()){ $("#a1_b").css("color","red") }else if(date[11].BP1==$("#a1_b").text()){$("#a1_b").css("color","black") }else{ $("#a1_b").css("color","green") }
	  	if(date[11].SP1>$("#a1_s").text()){ $("#a1_s").css("color","red") }else if(date[11].SP1==$("#a1_s").text()){$("#a1_s").css("color","black") }else{ $("#a1_s").css("color","green") }
         	$("#a1_b").text(date[11].BP1)
         	$("#a1_s").text(date[11].SP1)
        if(date[8].BP1>$("#a4_b").text()){ $("#a4_b").css("color","red") }else if(date[8].BP1==$("#a4_b").text()){$("#a4_b").css("color","black") }else{ $("#a4_b").css("color","green") }
	  	if(date[8].SP1>$("#a4_s").text()){ $("#a4_s").css("color","red") }else if(date[8].SP1==$("#a4_s").text()){$("#a4_s").css("color","black") }else{ $("#a4_s").css("color","green") }
         	$("#a4_b").text(date[8].BP1)
         	$("#a4_s").text(date[8].SP1)
	    },'json');
    }
    	
	
</script>

