<div id="sidebar">	
	
	 	<ul>
			<li ><a href="{:U('Index/index')}"><i class="icon icon-home"></i> 
				<span>后台概述</span></a></li>
					
				
			<li><a href="{:U('Index/huandeng')}"><i class="icon icon-tint"></i> 
					<span>幻灯片</span></a></li>
			<li><a href="{:U('Index/daohang')}"><i class="icon icon-pencil"></i> 
					<span>导航图标</span></a></li>
			<!--<li><a href="{:U('Index/ad')}"><i class="icon icon-th"></i> 
					<span>广告</span></a></li>
			<li><a href="{:U('IndexZiXun/artical')}"><i class="icon icon-th-list"></i> 
					<span>文章管理</span></a></li>				
			<li><a href="{:U('Index/index_re')}"><i class="icon icon-signal"></i> 
					<span>首页推荐</span></a></li>-->
				
		</ul>

</div>


