<div id="sidebar">	
	
	 	<ul>
		
				
			<li><a href="{:U('Indexfruit/huandeng')}"><i class="icon icon-tint"></i> 
					<span>幻灯片</span></a></li>
			<li><a href="{:U('Indexfruit/daohang')}"><i class="icon icon-pencil"></i> 
					<span>导航图标</span></a></li>
					
		<!--商品-->
			<!--<li class="submenu open">
				<a href="{:U('Indexfruit/selling')}"><i class="icon icon-th-list"></i> 
					<span>商品管理</span> <span class="label">5</span></a>
				<ul>
					<li><a href="{:U('Indexfruit/selling')}">
						<span>出售中<span style="color:red;"></span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/haved_selled')}">
						<span>已售罄<span style="color:red;"></span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/cangku')}">
						<span>仓库中<span style="color:red;"></span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/huishou')}">
						<span>回收站<span style="color:red;"> </span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/fenlei')}">
						<span>分类<span style="color:red;"> </span></span>
					</a></li>
				</ul>
			</li>-->
			<!--订单-->
			<!--<li class="submenu open">
				<a href="{:U('Indexfruit/allder_fukuan')}"><i class="icon icon-th-list"></i> 
					<span>订单管理</span> <span class="label">7</span></a>
				<ul>
					<li><a href="{:U('Indexfruit/allder_fukuan')}">
						<span>待付款<span style="color:red;"></span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/allder_fahuo')}">
						<span>已付款<span style="color:red;"></span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/allder_shouhuo')}">
						<span>待收货<span style="color:red;"></span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/allder_wancehgn')}">
						<span>已完成<span style="color:red;"> </span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/allder_tuikuan')}">
						<span>待退款<span style="color:red;"> </span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/allder_close')}">
						<span>已关闭<span style="color:red;"> </span></span>
					</a></li>
					<li><a href="{:U('Indexfruit/order_all')}">
						<span>全部订单<span style="color:red;"> </span></span>
					</a></li>
				</ul>
			</li>		-->
			<!--<li><a href="{:U('Index/ad')}"><i class="icon icon-th"></i> 
					<span>广告</span></a></li>
			<li><a href="{:U('IndexZiXun/artical')}"><i class="icon icon-th-list"></i> 
					<span>文章管理</span></a></li>				
			<li><a href="{:U('Index/index_re')}"><i class="icon icon-signal"></i> 
					<span>首页推荐</span></a></li>-->
				
		</ul>

</div>


