<div id="sidebar">

	<ul>
		<li ><a href="{:U('InfoZiXun/good_news')}"><i class="icon icon-shopping-cart"></i>
			<span>平台好信息</span></a></li>
		<li><a href="{:U('InfoZiXun/caigou')}"><i class="icon icon-shopping-cart"></i>
			<span>采购信息</span></a></li>
		<li><a href="{:U('InfoZiXun/gongying')}"><i class="icon icon-shopping-cart"></i>
			<span>供应信息</span></a></li>
		<li><a href="{:U('InfoZiXun/shenhe')}"><i class="icon icon-shopping-cart"></i>
			<span>审核信息</span></a></li>
		<li ><a href="{:U('InfoZiXun/gongyi')}"><i class="icon icon-shopping-cart"></i>
			<span>公益信息</span></a></li>
		<li><a href="{:U('InfoZiXun/fenlei')}"><i class="icon icon-shopping-cart"></i>
			<span>信息分类</span></a></li>
		<li><a href="{:U('InfoZiXun/info_set')}"><i class="icon icon-shopping-cart"></i>
			<span>页面广告设置</span></a></li>
		<li><a href="{:U('InfoZiXun/rules')}"><i class="icon icon-shopping-cart"></i>
			<span>规则管理</span></a></li>
		<li><a href="{:U('InfoZiXun/say_no')}"><i class="icon icon-shopping-cart"></i>
			<span>已拒绝审核</span></a></li>	
		
	</ul>


</div>