<div id="sidebar">

	 	<ul>
			<li ><a href="{:U('Warehouse/canggui')}"><i class="icon icon-shopping-cart"></i> 
					<span>仓柜管理</span></a></li>
			<li><a href="{:U('Warehouse/gongying')}"><i class="icon icon-shopping-cart"></i> 
					<span>供应商管理</span></a></li>
			<li><a href="{:U('Warehouse/fenlei')}"><i class="icon icon-shopping-cart"></i> 
					<span>分类管理</span></a></li>
			<!--<li><a href="{:U('Warehouse/huishou')}"><i class="icon icon-shopping-cart"></i> 
					<span>操作管理</span></a></li>-->
			<li class="submenu open">
					<a href="{:U('Warehouse/w_0_all')}"><i class="icon icon-th-list"></i> 
						<span>操作管理</span> <span class="label">7</span></a>
					<ul>
						<li><a href="{:U('Warehouse/w_0_all')}">
							<span>即时库存<span style="color:red;">  </span></span>
						</a></li>
						<li><a href="{:U('Warehouse/w_1_ruku')}">
							<span>入库单<span style="color:red;">  </span></span>
						</a></li>
						<li><a href="{:U('Warehouse/w_2_chuku')}">
							<span>出库单<span style="color:red;">  </span></span>
						</a></li>
						<li><a href="{:U('Warehouse/w_3_tuiku')}">
							<span>退库单<span style="color:red;">  </span></span>
						</a></li>
						<li><a href="{:U('Warehouse/w_4_diaobo')}">
							<span>调拨单<span style="color:red;"> </span></span>
						</a></li>
						<!--<li><a href="{:U('Warehouse/w_5_baosun')}">
							<span>报损单<span style="color:red;">  </span></span>
						</a></li>
						<li><a href="{:U('Warehouse/w_6_pandian')}">
							<span>盘点单<span style="color:red;">  </span></span>
						</a></li>-->
						<li><a href="{:U('Warehouse/w_7_tuihuo')}">
							<span>退货单<span style="color:red;">  </span></span>
						</a></li>
						<li><a href="{:U('Warehouse/w_8_zhibo')}">
							<span>直拨单<span style="color:red;"> </span></span>
						</a></li>
					</ul>
				</li>
				<li><a href="{:U('Warehouse/w_all_goods')}"><i class="icon icon-shopping-cart"></i> 
					<span>商品总览</span></a></li>
				<li><a href="{:U('Warehouse/w_add_goods')}"><i class="icon icon-shopping-cart"></i> 
					<span>商品添加</span></a></li>

		</ul>

</div>



		