<include file="Public/head" />     
<include file="Public/menu_room" />
<style>
	.list{
		width:280px;
		height: 123px;
		border: 1px solid #ccc;
		margin: 33px;
		float: left;
		border-radius: 4px;
		padding: 7px;
	}
	.list_1{
		text-align: center;
		height: 27px;
	}
	.list_2{
		margin-top: 10px;
	}
	.list_3{
		margin-top: 10px;
	}
	.qingtai{
		border: 1px solid #ccc;
		text-align: center;
		width: 32%;
		margin: auto;
		margin-top: 8px;
		border-radius: 3px;
		height: 27px;
		line-height: 27px;
		color: white;
		background: #1787e6;
	}
</style>
		<div id="content">
			<div id="content-header">
				<h1>歌房管理</h1>
				
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
				<a href="#" class="current">歌房管理</a>
			</div>
			<div class="container-fluid">
				
				<div class="row-fluid">
					<div class="widget-box">
						<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
							<h5>歌房管理</h5>
							<h5 id="time">{$time}</h5>
						</div>
						<foreach name="list" item="v">
						<div class="list">
							<div class="list_1">房号 :{$v.room_num}</div>
							<div class="list_2">房间类型：{$v.fenlei_1_title}-{$v.fenlei_2_title}</div>
							<div class="list_3" >当前状态：
								<!--0:空闲，1：使用中、2：清台中、3：暂停使用-->
								<span id="state_{$v.id}">
								<if condition="$v.state eq 0"><span style="color:green;">空闲</span></if>
								<if condition="$v.state eq 1"><span style="color:red;">使用中</span></if>
								<if condition="$v.state eq 2"><span style="color:red;">清台中</span></if>
								<if condition="$v.state eq 3">暂停使用</if>
								</span>
							</div>
							<if condition="$v.state eq 1">
								<div class="list_3" id="show_{$v.id}">剩余时间（秒）：
									<span id="shengyu_{$v.id}">
										{$v.shengyu_time}
									</span>
								</div>
							</if>
							<if condition="$v.state eq 2">
								<div class="list_3 to_use qingtai" a="{$v.id}">清台完成</div>
							</if>
						</div>
						</foreach>

					</div>
				</div>
			</div>


		</div>
	<include file="Public/foot" />
<input type="hidden" value="{$program_id}" id="pid">

<script>
	$(".to_use").click(function(){
	    var room_id=$(this).attr("a")
        $.post('__ROOT__/adp.php/Room/ajax_room_toused',{'id':room_id},function(a){
			if(a==1){
				alert("操作成功")
                setTimeout(function () {
                    window.location.reload()
                }, 2000);
			}else{
			    alert("稍后重试")
			}
        },'json');
	})


    var that = this;
    var aa=1
    ajax_l()

    function ajax_l(){
        if(aa<99999999999){
            setTimeout(function () {
                ajax_u()
                aa++
                ajax_l()
            }, 3000);
        }
    }

    function ajax_u(){
        $.post('__ROOT__/adp.php/Room/ajax_index',{'program_id':$("#pid").val()},function(date){
			for(var i=0;i<date.length;i++){
				$("#state_"+date[i].id).text(date[i].state_text)
                $("#state_"+date[i].id).css("color",date[i].color)

                $("#shengyu_"+date[i].id).text(date[i].shengyu_time)

				var on_id=date[i].id
                $("#shengyu_"+on_id).css("color","red")
                setTimeout(function () {
                    $("#shengyu_"+on_id).css("color","black")
                }, 1000);
			}

            $("#time").text(date[0].time)
            $("#time").css("color","red")
            setTimeout(function () {
                $("#time").css("color","black")
            }, 1000);
        },'json');
    }


</script>