<include file="Public/head" />     
<include file="Public/menu_goodsavec" /> 
		<div id="content">
			<div id="content-header">
				<h1>商品管理</h1>
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 商品</a>
				<a href="#" class="current">仓库中</a>
				
				<!-- <a href="goods_add" class="add_button"><button class="btn" >+添加商品</button></a>-->
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
								<h5>仓库中</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:5%;">编号</th>
											<th style="width:5%;">排序</th>
											<th style="width:10%;">商品名称</th>
											<th style="width:10%;">图片</th>
											<th style="width:5%;">价格</th>
											<th style="width:5%;">库存</th>
											<th style="width:5%;">销量</th>
											<th style="width:5%;">状态</th>
											<th style="width:12%;">操作</th>
										</tr>
									</thead>
									<tbody>
										<foreach name="goods" item="v">
										<tr>
											<td class="l_h50">{$v.id}</td>
											<td class="l_h50">
												<a  href="javascript:;" val="{$v.id}" class="edit_sort">{$v.sort}</a>
							 					<input type="text" class="sort_value" value="{$v.sort}" style="display:none;width: 38px;text-align: center;    margin-left: auto;margin-right: auto;">
											</td>
											<td class="l_h50">
												<a  href="javascript:;" val="{$v.id}" text_name="goods_title" class="edit_text">{$v.goods_title}</a>
											 	<input type="text" class="sort_text" value="{$v.goods_title}" style="display:none;width: 80px;text-align: center;    margin-left: auto;margin-right: auto;">
											</td>
											<td>
											 	<img style="width:55px;height:55px;" src="__ROOT__/Uploads/{$v.image}">
											</td>
											<td class="l_h50">
											  	<a  href="javascript:;" val="{$v.id}" text_name="price_sell" class="edit_text">{$v.price_sell}</a>
											 	<input type="text" class="sort_text" value="{$v.price_sell}" style="display:none;width: 80px;text-align: center;    margin-left: auto;margin-right: auto;">																						 
											</td>
											<td class="l_h50">
											   	<a  href="javascript:;" val="{$v.id}" text_name="number" class="edit_text">{$v.number}</a>
											 	<input type="text" class="sort_text" value="{$v.number}" style="display:none;width: 50px;text-align: center;    margin-left: auto;margin-right: auto;">											
											</td>
											<td class="l_h50">
											  	<a  href="javascript:;" val="{$v.id}" text_name="sell_num" class="edit_text">{$v.sell_num}</a>
											 	<input type="text" class="sort_text" value="{$v.sell_num}" style="display:none;width: 50px;text-align: center;    margin-left: auto;margin-right: auto;">
											  </td> 
											 <td class="l_h50">
											 	<if condition="$v.goods_state eq 1" >
											 		<div class="peng_is_ok peng_ok " style="margin-top:15px;">
											 			<input type="hidden" value="{$v.id}">
											 			<span>上架</span>
											 		</div>
												 </if>
											 	<if condition="$v.goods_state eq 3">
											 		<div class="peng_is_ok peng_not"  style="margin-top:15px;">
											 			<input type="hidden" value="{$v.id}">
											 			<span>下架</span>
											 		</div>
											 	</if>
											 </td>
											<td>
												<li>
												<a class="btn btn-default"  title="修改" alt="修改" href="goods_edit/id/{$v['id']}" >修改</a>
				                            	<a   class="btn btn-info" style="color:white;" title="回收" alt="回收" href="goods_huishou/id/{$v['id']}" onclick="if(confirm('确认移到回收站吗？')==false)return false;">放回收站</a>
												<if condition="$head_menu eq 6">
												    <div class="btn btn-default make_jingpin" a="{$v.id}" >
					                            		<div  href="goods_edit/id/{$v['id']}" >
					                            			<if condition="$v['is_jingpin'] eq 2"><span style="color:red;">设置精品</span></if>
					                            			<if condition="$v['is_jingpin'] eq 1">取消精品</if>
					                            	</a>
					                            	</div>
				                            	</if>
				                            	</li>
				                            	<li class="m_goods">
				                            		
				                            		<input class="own_id" type="hidden" value="{$v.id}">
								                       <if condition="$v.goods_subtitle01 eq 1">
								                       		<a class="attribute01" style="color:red;">新品&nbsp </a>
								                      	<else/>
								                      		<a class="attribute01" >新品&nbsp </a> 	
								                       </if>
								                       <if condition="$v.goods_subtitle02 eq 1">
								                       		 <a class="attribute02" style="color:red;">热卖&nbsp </a>
								                      	<else/>
								                      		 <a class="attribute02" >热卖&nbsp </a>
								                       </if>
								                       
								                       <if condition="$v.goods_subtitle03 eq 1">
								                       		  <a class="attribute03" style="color:red;">推荐&nbsp </a>
								                      	<else/>
								                      		 <a class="attribute03" >推荐&nbsp </a>
								                       </if>
								                       
								                       <if condition="$v.goods_subtitle04 eq 1">
								                       		<a class="attribute04" style="color:red;">促销&nbsp </a>
								                      	<else/>
								                      		<a class="attribute04" >促销&nbsp </a>
								                       </if>
								                       
								                       <if condition="$v.goods_subtitle05 eq 1">
								                       		 <a class="attribute05" style="color:red;">包邮&nbsp </a>
												                      	<else/>
							                      		  <a class="attribute05" >包邮&nbsp </a>
							                       </if>
				                            	</li>
				                            </td>
										</tr>
										</foreach>	 
									</tbody>
								</table>	
								

							</div>

						</div>
<div class="pages" style=" width: 100%;margin-left: auto;text-align:center;margin-top: -7px;margin-bottom: 10px;margin-right: auto;"> 
	{$pages}
</div>
					</div>
				</div>
			</div>
		</div>
		

            
	<include file="Public/foot" /> 
	

