<include file="Public/head" />
<include file="Public/menu_assistant" />
<div id="content">
	<div id="content-header">
		<h1>店员禁用</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 多商户</a>
		<a href="#" class="current">店员禁用</a>


	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>店员禁用</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>编号</th>
								<th>姓名</th>
								<th>电话</th>
								<th>工号</th>
								<th>店员状态</th>
								<th>申请时间</th>
								<th>申请时间</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<foreach name="list" item="v">
								<tr>
									<td>{$v.id}</td>
									<td>{$v.name}</td>
									<td>{$v.tel}</td>
									<td>{$v.num}</td>
									<td>
										<if condition="$v['state'] eq 0">待审核</if>
										<if condition="$v['state'] eq 1">服务中</if>
										<if condition="$v['state'] eq 2">已暂停</if>
										<if condition="$v['state'] eq 3">已拒绝</if>
									</td>
									<td>
										<?=date("Y-m-d H:i:s",$v['time_registe']);?>
									</td>
									<td>
										<?=date("Y-m-d H:i:s",$v['time_stop']);?>
									</td>
									<td>
										<a style="color:white;" class="btn btn-danger"  title="恢复" alt="恢复" href="assistant_say_yes/id/{$v['id']}" onclick="if(confirm('确认恢复吗？')==false)return false;">店员恢复</a>
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
						<!--<div class="pages self_css"> {$pages}</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<include file="Public/foot" />


