<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_preferential" />
		<!--满额包邮设置-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con" style="">
				<div style="border-bottom:1px solid #000000;height:60px; padding:20px;">
				    <span style="font-size:20px;">满额包邮设置</span>

				     <div class="btn btn-default" style=" float: right; " id="more_input">添加优惠项</div>
				</div> 	
				
<!--	<form name="myupload" id="myupload" enctype='multipart/form-data' action="__URL__/pass_lijian_add" method="post">	
	
	</form>-->
	<span style="font-size:55px;">别急，维护中....</span>
	
<!--   	<div class="selef_1111">
   		<div class="self_1111_01">
   			<div class="self_1111_01_l">
   				<li>满额包邮</li>
   				<li>开启满包邮, 订单总金额超过多少可以包邮</li>
   			</div>
   			<div class="self_1111_01_r">
   			
   			</div>
   		</div>
   		<div class="self_1111_02">
   			
   		</div>
   	</div>-->
		
		</div>
		</div>
		<!--====================主体  结束===============-->
	</div>	

</body>
</html>
