<include file="Public/head" />
<include file="Public/menu_distribution" />
<div id="content">
	<div id="content-header">
		<h1>分销商管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 分销系统</a>
		<a href="#" class="current">分销商管理</a>

	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
						<h5>分销商管理</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th><input type="checkbox"></th>
								<th >粉丝</th>
								<th>姓名 / 手机号码</th>
								<th>等级</th>
								<th>累计佣金 / 打款佣金</th>
								
								<th>上级分销商</th>
								<th>下级分销商</th>
								<th>注册时间</th>
								<if condition="$program_id neq JT201803151807521312">
								<th>审核时间</th>
								<else/>
								<th>沙田荣誉证书</th>
								<th>公益荣誉证书</th>
								</if>
								<th>状态</th>
								<th>清除分销状态</th>
								<if condition="$program_id eq JT201803151807521312">
								<th>操作</th>
								</if>
							</tr>
							</thead>
							<tbody>
							<foreach name="list" item="v">
								<tr>
									<td><input value="{$v.members_id}" type="checkbox"></td>
									<td style="text-align:left!important;">
										<img src="{$v.members_head}" style="width:30px;height:30px;padding1px;border:1px solid #ccc">
				                          {$v.members_nickname}
									</td>
									<td>
										{$v.realname} / {$v.tel}
									</td>
									<td>{$v.fx_lever_title}</td>
									<td>0<br>0</td>
									<td>  <if condition="$v['fx_uid'] eq 0">
										总店<else/>
										{$v.up_nickname}<br>
										<a class="btn btn-default" title="修改" alt="修改"  href="gaishagnxian/id/{$v['members_id']}" onclick="if(confirm('确认更换该会员呢上线？')==false)return false;">
											点击更换
										</a>
									</if> 
									</td>
									<td>  {$v.child_count} </td>
									<td>
										<?=date("Y-m-d",$v['fx_time_registe']);?><br> <?=date("H:i:s",$v['fx_time_registe']);?>
									</td>
									<td>
										<if condition="$program_id neq JT201803151807521312">
											<notempty name="v['fx_time_agree']">
												<?=date("Y-m-d",$v['fx_time_agree']);?><br> <?=date("H:i:s",$v['fx_time_agree']);?>
											</notempty>
											<else/>
											<empty name="v['reward_info']['honor_image']">
												未发放
												<else/>
										
												<img src="__ROOT__/Uploads/{$v['reward_info']['honor_image']}" style="width:30px;height:30px;padding1px;border:1px solid #ccc">
											
											</empty>
										</if>
									</td>
<!--									
									<td>
										<if condition="$program_id eq JT201803151807521312">
											<empty name="v['reward_info']['honor_image_welfare']">
												未发放
												<else/>
										
												<img src="__ROOT__/Uploads/{$v['reward_info']['honor_image_welfare']}" style="width:30px;height:30px;padding1px;border:1px solid #ccc">
												
											</empty>
									</if>
									</td>-->
									<td>
			                            <if condition="$v.fx_state eq 1">
			                            	
											<a class="btn btn-default" title="修改" alt="修改"  href="shenhe/id/{$v['members_id']}" onclick="if(confirm('确认通过审核吗？')==false)return false;">
												点击审核
											</a>
			                           	
			                           		
			                            </if>
			                            <if condition="$v.fx_state eq 2">
			                            	 <span class="label label-success fx_state"  a="{$v.members_id}" b="{$v.fx_state}" data-toggle="ajaxSwitch" data-confirm="确认要取消审核?">
													  已审核
			                           		 </span>
			                            </if>
			                            <if condition="$v.fx_state eq 3">
			                            	 <span class="label label-success fx_state" a="{$v.members_id}" b="{$v.fx_state}" data-toggle="ajaxSwitch" data-confirm="确认要取消审核?">
													  停用
			                           		 </span>
			                            </if>
				                         
									</td>
									<td>
										
			                           	<a class="btn btn-default" title="修改" alt="修改" href="del_dfx_identy/id/{$v['members_id']}" >
											清除分销
										</a>
									</td>
									<if condition="$program_id eq JT201803151807521312">
										<td style="overflow:visible;">
											<div class="btn-group btn-group-sm">
												<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
												<ul class="dropdown-menu dropdown-menu-left" style="left:-75px;">
													<li><a href="javascript:" title="上传荣誉证书" onclick="show_modal(this)"   a="{$v.members_openid}">上传荣誉证书</a></li>
											</div>
										</td>
									</if>
								</tr>
							</foreach>
							</tbody>
						</table>
						<div class="pages self_css" > {$pages} </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<include file="Public/image_ajax" /> 
<include file="Public/foot" />


