<!--蔡氏养生发展下线分销-->
<style>
	td{
		    border: 1px solid;
		    padding: 17px 24px;
		    text-align: center;
		    width: 6%;
	}
	.sort_text{
		width: 80px;text-align: center;    margin-left: auto;margin-right: auto;
	}
</style>
<table style="margin-top:2px;">
	<tr > 
		<td style="font-size:18px;">一级分销佣金（元）</td>
		<td>初级代理消费</td>
		<td>中级代理消费</td>
		<td>高级代理消费</td>
	</tr>
	<tr> 
		<td>初级代理</td>
		<td>
			<a  href="javascript:;" val="{$list.0.id}" text_name="price_fy" class="edit_text">{$list.0.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.0.price_fy}" style="display:none;">
		</td>
		<td>
			<a  href="javascript:;" val="{$list.1.id}" text_name="price_fy" class="edit_text">{$list.1.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.1.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.2.id}" text_name="price_fy" class="edit_text">{$list.2.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.2.price_fy}" style="display:none;" >
		</td>
	</tr>
	<tr> 
		<td>中级代理</td>
		<td>
			<a  href="javascript:;" val="{$list.3.id}" text_name="price_fy" class="edit_text">{$list.3.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.3.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.4.id}" text_name="price_fy" class="edit_text">{$list.4.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.4.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.5.id}" text_name="price_fy" class="edit_text">{$list.5.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.5.price_fy}" style="display:none;" >
		</td>
	</tr>
	<tr> 
		<td>高级代理</td>
		<td>
			<a  href="javascript:;" val="{$list.6.id}" text_name="price_fy" class="edit_text">{$list.6.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.6.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.7.id}" text_name="price_fy" class="edit_text">{$list.7.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.7.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.8.id}" text_name="price_fy" class="edit_text">{$list.8.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.8.price_fy}" style="display:none;" >
		</td>
	</tr>
</table>

<table style="margin-top:12px;">
	<tr> 
		<td style="font-size:18px;">二级分销佣金（元）</td>
		<td>初级代理消费</td>
		<td>中级代理消费</td>
		<td>高级代理消费</td>
	</tr>
	<tr> 
		<td>初级代理</td>
		<td>
			<a  href="javascript:;" val="{$list.9.id}" text_name="price_fy" class="edit_text">{$list.9.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.9.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.10.id}" text_name="price_fy" class="edit_text">{$list.10.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.10.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.11.id}" text_name="price_fy" class="edit_text">{$list.11.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.11.price_fy}" style="display:none;" >
		</td>
	</tr>
	<tr> 
		<td>中级代理</td>
		<td>
			<a  href="javascript:;" val="{$list.12.id}" text_name="price_fy" class="edit_text">{$list.12.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.12.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.13.id}" text_name="price_fy" class="edit_text">{$list.13.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.13.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.14.id}" text_name="price_fy" class="edit_text">{$list.14.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.14.price_fy}" style="display:none;" >
		</td>
	</tr>
	<tr> 
		<td>高级代理</td>
		<td>
			<a  href="javascript:;" val="{$list.15.id}" text_name="price_fy" class="edit_text">{$list.15.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.15.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.16.id}" text_name="price_fy" class="edit_text">{$list.16.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.16.price_fy}" style="display:none;" >
		</td>
		<td>
			<a  href="javascript:;" val="{$list.17.id}" text_name="price_fy" class="edit_text">{$list.17.price_fy}</a>
		 	<input type="text" class="sort_text" value="{$list.17.price_fy}" style="display:none;" >
		</td>
	</tr>
</table>

