<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_car_order" />
		<!--司机管理-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">	
				<div style="border-bottom:1px solid #000000;height:60px;padding:20px;">
				
						<p style="float:left;font-size:18px;">司机分配管理</p>	
					<form name="myupload" id="myupload" enctype='multipart/form-data' action="{:U('CarMembers/driver')}" method="post">
						<div class="input-group" style="margin:0px 40px;    width: 20%; float: right;">				 
	                 	   <input  type="text" class="input-sm form-control" name="str" value="" placeholder="司机 / openid" style="height:32px;"><span class="input-group-btn">                  		
	               	    	<button class="btn btn-sm btn-primary" type="submit">搜索</button></span>
	               		</div> 
              	 	</form>
				
				
				</div>	
				<table id="maintable" class="table table-hover table-responsive">
		            <thead class="navbar-inner">
		                <tr>
		                    <th style="width:30px;"><input type="checkbox" id="checkAll"></th>		                    
		                    <th style="width:140px;text-align:left;">司机</th>
							 <th style="width:100px;">所属车场</th>
		                    <th style="width:100px;">注册时间</th>
		             
		                    <th style="width:104px;">操作</th>
		                </tr>
		            </thead>
		            <tbody id="blacklis">		       
			           	<foreach name="list" item="v">
                        <tr>
                            <td>{$v.id}</td>
							 <td style="text-align:left;"><img style="width:50px;height:50px;" src="__ROOT__/Uploads/{$v.headimage}"> {$v.name}</td>
							<td>
							 
							 	<if condition="$v['is_onparking'] eq 1">
							 		<span style="color:green;">	{$v.car_parking_address} </span>
							 		<else/>	{$v.car_parking_address} 
							 	</if>
							 </td>
							
							
							<td>
							 	 <?=date("Y-m-d H:i:s",$v['time_register']);?>
							 </td>
							
                            <td>
								<a class="btn btn-default" title="详情" alt="详情" href="car_members_con?id={$v.id}" >详情</a>
								<a  class="btn btn-danger" style="color:white;" title="分配" alt="分配" href="teid?id={$v['id']}&order_num={$order_num}" 分配>分配</a>
						
                            </td>
                        </tr>
                    </foreach>	
            		</tbody>
        		</table>
            </div>	    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
<script>
	$(".peng_is_ok").click(function(){
		var onw_id=$(this).children('input').val();
		//var str01=that.attr("class");
			//	var arr01=str.split(" ");
		//alert(arr[1]);
		var that = this;
		 $.post('__ROOT__/adp.php/Members/ajax_change_ok',{'id':onw_id},function(date){
	        if(date==1){
	        	if($(that).attr("class")=="peng_is_ok peng_ok"){
	        		$(that).attr("class","peng_is_ok peng_not");
	        		$(that).children('span').text("黑名单");
	        	}else if($(that).attr("class")=="peng_is_ok peng_not"){
	        		$(that).attr("class","peng_is_ok peng_ok");
	        		$(that).children('span').text("正常");
	        	}
	        }else{
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>
</html>
