<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_set" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
				<div class="page-heading" style="padding:10px;border-bottom:1px solid #000000;">
		            <span class="pull-right">
		            <a class="btn btn-primary btn-sm" href="">+添加打印机</a>
			        </span>
			    	<h4>会员设置</h4>
		        </div>		       
		        <div class="form-group">
                    <label class="col-sm-2 control-label">会员等级升级依据</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="radio radio-inline">
                              <input type="radio" name="" value="0" checked="">已完成的订单金额                            
                        </label>
                        <label class="radio radio-inline">
                             <input type="radio" name="" value="1">已完成的订单数量 
                        </label>
                        <span class="help-block">默认为完成订单金额</span> 
                    </div>
                </div>
			</div>    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
