<form action="__ROOT__/jtct/index.php/Program/GoodsShow/edit_fl?program_id=1" enctype="multipart/form-data" method="post" >
	<div><input  name="id" type="text"></div>
	<br/>
	<div><input  name="sort" type="text"></div>
	<br/>
	<div><input  name="title" type="text" ></div>
	<br/>
	<div><input  name="uid" type="text"></div>
	<br/>
	<div><input  name="miaoshu" type="text"></div>
	<br/>
	<div><input  name="is_show" type="text"></div>
	<br/>
	<div><input  name="image_1" type="file"></div>
	<br/>


	<button class="button" type="submit">测试开始</button>
</form>