<include file="Public/head" />
<include file="Public/menu_warehouse" />
<script src="__ROOT__/Public/ys0925/jquery.js"></script>
<style>
	.fileinput-button {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

	.fileinput-button input{
		position:absolute;
		right: 0px;
		top: 0px;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px;
	}
	.w93{
		width:93%!important;
			}
</style>

<div id="content">
	<div id="content-header">
		<h1>入库</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="{:U('Warehouse/canggui')}" class="tip-bottom">仓柜管理</a>
		<a href="#" class="current">入库</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>
								</span>
						<h5>入库</h5>
					</div>
					<div class="widget-content nopadding">
						<!--<div style="width:260px;height:120px; overflow:auto; border:1px solid;"> 
							<div style="width:560px;height:120px;"> 这里是你要显示的内容 </div>
						</div>-->
	
						<foreach name="arr" item="arr">
							<div style="border:1px solid red;">
								<select name="a10[]" class="w100" onchange="action(this)"  k="{$arr}" id="id_{$arr}" >
									<option >选择大类</option>
									<foreach name="fenlei" item="v">
										<option value="{$v.id}">{$v.title}</option>
									</foreach>
								</select>
								
								<foreach name="fenlei" item="v">
									<div id="id_{$arr}_{$v.id}" class="child_{$arr}" style="display:none;">
						
									
										<select name="a10[]" class="w100"  >
											<option >选择小类</option>
											<foreach name="v['child']" item="vo">
												<option >{$vo.title}</option>
											</foreach>
										</select>
									</div>
								</foreach>
								
							</div>
						</foreach>
						

						
		
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th style="width:10%;">大类</th>
								<th style="width:10%;">小类</th>
								<th style="width:10%;">物品名称</th>
								<th style="width:10%;">条码</th>
								<th style="width:10%;">规格</th>
								<th style="width:10%;">单位</th>
								<th style="width:10%;">数量</th>
								<th style="width:10%;">成本价</th>
							</tr>
							</thead>
							<form action="{:U('Warehouse/run_goods_add',array('id'=>$info['id']))}" method="post" enctype="multipart/form-data" class="form-horizontal" />
							
							<tbody>
							<foreach name="arr" item="arr">
								<tr>
									<td>
										<!--<select name="a10[]" class="w100" onchange="action(this)"  k="{$arr}" id="id_{$arr}">
											<option >选择大类</option>
											<foreach name="fenlei" item="v">
												<option value="{$v.id}">{$v.title}</option>
											</foreach>
										</select>-->
										<select name="a10[]" class="w100" onchange="action(this)"  k="{$arr}" id="id_{$arr}" >
											<option >选择大类</option>
											<foreach name="fenlei" item="v">
												<option value="{$v.id}">{$v.title}</option>
											</foreach>
										</select>
									</td>
									<td>
										
										<!--<foreach name="fenlei" item="v">
											<div id="id_{$arr}_{$v.id}" class="child_{$arr}" style="display:none;">
												<select name="a10[]" class="w100"  >
													<option >选择小类</option>
													<foreach name="v['child']" item="vo">
														<option >{$vo.title}</option>
													</foreach>
												</select>
											</div>
										</foreach>-->
											<foreach name="fenlei" item="v">
											<div id="id_{$arr}_{$v.id}" class="child_{$arr}" style="display:none;">
								
											
												<select name="a10[]" class="w100"  >
													<option >选择小类</option>
													<foreach name="v['child']" item="vo">
														<option >{$vo.title}</option>
													</foreach>
												</select>
											</div>
										</foreach>
									</td>
									<td><input type="text" class="w93" name="a11[]" value="{$info.server_man}"/></td>
									<td><input type="text" class="w93" name="a12[]" value="{$info.server_man}"/></td>
									<td><input type="text" class="w93" name="a13[]" value="{$info.server_man}"/></td>
									<td><input type="text" class="w93" name="a14[]" value="{$info.server_man}"/></td>
									<td><input type="text" class="w93" name="a15[]" value="{$info.server_man}"/></td>
									<td><input type="text" class="w93" name="a16[]" value="{$info.server_man}"/></td>
								</tr>
							
							</foreach>
							<script>

		function action(item){
console.log($("#id_"+$(item).attr("k")).find("option:selected").val())
			for (var i=1;i<3;i++){
				$(".child_"+$(item).attr("k")).css("display","none")
				$("#id_"+$(item).attr("k")+"_"+$("#id_"+$(item).attr("k")).find("option:selected").val()).css("display","block")
			}
		}
	</script>
							</tbody>
							
								<div class="form-actions" >
									<button type="submit" style="float: right;" class="btn btn-primary">提交</button>
								</div>
							
							</form>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!--原来的 modal 框位置-->
<include file="Public/self_url" />
<include file="Public/foot" />
<include file="Public/image_yl" />

	<script>
//		$(".action").click(function(){
//
//			for (var i=1;i<3;i++){
//					$(".child_"+$(this).attr("k")).css("display","none")
//					$("#id_"+$(this).attr("k")+"_"+$(this).attr("a")).css("display","block")
//			}
//			
//		})
		function ac2tion(item){
//					console.log($(item).attr("a"))
console.log($("#id_"+$(item).attr("k")).find("option:selected").val())
//			for (var i=1;i<3;i++){
//				$(".child_"+$(item).attr("k")).css("display","none")
//				$("#id_"+$(item).attr("k")+"_"+$("#id_"+$(item).attr("k")).find("option:selected").val()).css("display","block")
//			}
		}
	</script>



