<include file="Public/head" />     

<include file="Public/menu_goods" />

<div id="content">
	<div id="content-header">
		<h1>商品管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 商品</a>
		<a href="#" class="current">商品管理</a>
		<button id="search_button_goods" class="btn" style="float: right;margin-top: 3px;margin-left: -3px;margin-right: 22px;" >搜索</button>
		<input type="text" placeholder="商品名称" value="{$his_str}" id="search_str" style="float: right;margin-top: 3px;" onBlur="this.value=ignoreSpaces(this.value);">
		 <a href="__ROOT__/adp.php/Goods/goods_add_ktv" class="add_button"><button class="btn" >+添加商品</button></a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>商品管理</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width:5%;">编号</th>
									<th style="width:5%;">排序</th>
									<th style="width:10%;">商品名称</th>
									<th style="width:5%;">图片</th>
									<th style="width:5%;">价格</th>
									
									<th style="width:5%;">状态</th>
									<if condition="$program_id eq JT201810111844206577">
						            	<th style="width:5%;">城市推送</th>
						            	<th style="width:5%;">所属商户</th>
						            </if>
									<th style="width:17%;">操作</th>
									
						          
								</tr>
							</thead>
							<tbody>
								<foreach name="goods" item="v">
								<tr>
									<td class="l_h30">{$v.id}</td>
									<td class="l_h30">
										<a  href="javascript:;" val="{$v.id}" text_name="sort" class="edit_text">{$v.sort}</a>
					 					<input type="text" class="sort_text w40x" value="{$v.sort}" style="display:none;">
									</td>
									<td class="l_h30">
										<a  href="javascript:;" val="{$v.id}" text_name="goods_title" class="edit_text">{$v.goods_title}</a>
									 	<input type="text" class="sort_text w120x" value="{$v.goods_title}" style="display:none;">
									</td>
									<td>
									 	<img style="width:55px;height:55px;" src="__ROOT__/Uploads/{$v.image}">
									</td>
									<td class="l_h30">
									  	<a  href="javascript:;" val="{$v.id}" text_name="price_sell" class="edit_text">{$v.price_sell}</a>
									 	<input type="text" class="sort_text  w80x" value="{$v.price_sell}" style="display:none;">																						 
									</td>
							
									  
									 <td class="l_h30">
									 	<if condition="$v.goods_state eq 1" >
									 		<div class="peng_is_ok peng_ok" style="margin-top:15px;">
									 			<input type="hidden" value="{$v.id}">
									 			<span>上架</span>
									 		</div>
										 </if>
									 	<if condition="$v.goods_state eq 3">
									 		<div class="peng_is_ok peng_not"  style="margin-top:15px;">
									 			<input type="hidden" value="{$v.id}">
									 			<span>下架</span>
									 		</div>
									 	</if>
									 </td>
									 <style>
									 	.area_re{
									 		border: 1px solid #ccc;
										    padding: 5px;
										    border-radius: 4px;
										    position: relative;
										    top: 8px;
										    left: 1px;
									 	}
									 </style>
									 <if condition="$program_id eq JT201810111844206577">
						            	<td class="hover_show"id="{$v.id}">
						            		<empty name="v['area_re']">
						            			未推送
						            			<else/>
						            			
						            			<div id="area_text_{$v.id}" style="display:block;color:green;">点击查看</div>
						            			<div id="area_re_{$v.id}" style="display:none">{$v.area_re}</div>
						            		</empty>
						            	</td>
						            </if>
									<td>
									 	{$v.sh_name}
									</td>
									<td>
										<li>
										
											<a class="btn btn-default say_yes"  title="通过" alt="通过" href="javascript:;"  id="{$v.id}">审核通过</a>
											<a class="btn btn-default say_no"  title="拒绝" alt="拒绝" href="javascript:;"   id="{$v.id}">审核拒绝</a>
		   									<div style="    margin-top: 9px;">拒绝原因：<input type="text" class="text_{$v.id}"></div>
			                            </td>
			                           
								
									</tr>
									</foreach>	 
								</tbody>
							</table>	
						</div>
					</div>
				<div class="pages self_css"> {$pages}</div>
				</div>
			</div>
		</div>
	</div>
</div>	


	<include file="Public/foot" /> 
	<include file="Public/input_search" />
<script>
	//一部修改商品展示属性
	
	$(".attribute").click(function(){
		var onw_id=$(this).parent('li.m_goods').children('input').val();
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/ajax_com_shuxing',{'id':onw_id,'position':$(this).attr("a")},function(ajax_back){
			console.log(ajax_back);
			if(ajax_back==1){
				$(that).css("color","red");
			}else if(ajax_back==2){
				$(that).css("color","");
			}
        },'json');
	})
	
	$(".say_yes").click(function(){
		var id=$(this).attr("id")
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/tuisong_yes',{'id':id},function(state){
			if(state==1){
				alert("操作成功")
			}else {
				alert("操作失败")
			}
        },'json');
	})
	$(".say_no").click(function(){
		var id=$(this).attr("id")
		
		console.log($(".text_"+id).val())
		if($(".text_"+id).val()==''){
			alert("请填写拒绝原因")
			return false
		}
	
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/tuisong_no',{'id':id,'text_sayno':$(".text_"+id).val()},function(state){
			if(state==1){
				alert("操作成功")
				window.location.reload();
				
			}else {
				alert("操作失败")
			}
        },'json');
	})
</script>	
 <script>
    	$(".hover_show").hover(function() {
           console.log(111)
           var id=$(this).attr("id")
           console.log(id)
           $("#area_text_"+id).css("display","none")
           $("#area_re_"+id).css("display","block")
        }, function() {
            console.log(222)
           var id=$(this).attr("id")
           console.log(id)
           $("#area_text_"+id).css("display","block")
           $("#area_re_"+id).css("display","none")
        });

</script>
<script>
	
		//异步修改商品是否可以使用消费券
	$(".change_state").click(function(){
	
		//alert($(this).attr("a"));
		$.post('__ROOT__/adp.php/Goods/change_state',{'id':$(this).attr("id")},function(date){
	        if(date==1){
	        	alert("设置成功");
	        	window.location.reload();
	        }else{
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>
<script>

	//异步列表页的内容     ==============================================
	//style   1:商品表内容
	$(".edit_text").click(function(){
		var self_input=$(this).parents('td').children('input')
		var that=this

		$(this).css("display","none");
		self_input.css("display","block");
		self_input.focus();
		self_input.blur(function(){

			$(that).text(self_input.val());
			$(that).css("display","block");
			self_input.css("display","none");
		
			$.post('__ROOT__/adp.php/Index/ajax_change_text',{'style':1,'text_name':$(that).attr("text_name"),'id':$(that).attr("val"),'text_val':self_input.val()},function(date){
		        if(date==1){
		        	alert("成功");
		        }else{
		        	
		        }
	        },'json');
		});
	})
</script> 
<script>
	//商品ajax上下架
	$(".peng_is_ok").click(function(){
		var onw_id=$(this).children('input').val();
	
		var that = this;
		$.post('__ROOT__/adp.php/Goods/ajax_change_ok',{'id':onw_id},function(date){
	        if(date==1){
	        	if($(that).attr("class")=="peng_is_ok peng_ok"){
	        		$(that).attr("class","peng_is_ok peng_not");
	        		$(that).children('span').text("下架");
	        	}else if($(that).attr("class")=="peng_is_ok peng_not"){
	        		$(that).attr("class","peng_is_ok peng_ok");
	        		$(that).children('span').text("上架");
	        	}
	        }else if(date==3){
	        	alert("推送审核商品无法上架");
	        }else {
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>