<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_set" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
				<div class="page-heading" style="padding:10px;border-bottom:1px solid #000000;">		      
			    	<h4>商城关闭设置</h4>
		        </div>
		        <div class="form-group">
			        <label class="col-sm-2 control-label">商城状态</label>
			        <div class="col-sm-9 col-xs-12">
			            <label class="radio-inline">
			                <input type="radio" name="data[flag]" value="0" checked=""> 开启
			            </label>
			            <label class="radio-inline">
			                <input type="radio" name="data[flag]" value="1"> 关闭
			            </label>			
			        </div>			        			         
			    </div>
			</div>	    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
