<include file="Public/head" />
		<div class="tab" style="width:90%;height:auto;margin:20px auto;background-color:#CAE1FF;border-radius:6px;padding:20px;">
			<div class="tab-cont">					
			     <!--充值记录-->
				<div class="box">
					<h2 style="padding:20px; border-bottom:1px solid #000000;">充值记录</h2>
					<div class="box-bor">																	
						<table class="table">								
						   <thead>
						      <tr>
						         <th style="width:5%;">序号</th>
						         <th style="width:10%;">充值账号</th>
						         <th style="width:8%;">充值金额</th>
						         <th style="width:8%;">充值日期</th>
						         <th style="width:10%;">是否充值成功</th>
						         <th style="width:6%;">备注</th>
						      </tr>
						   </thead>
						   <tbody>
						   	<foreach name='list' item='v' key='k'>
						      <tr class="active">
						         <td>{$k}</td>
						         <td>{$user_company}</td>
						         <td>{$v.recharge_gold}</td>
						         <td>{$v.recharge_time|date="Y-m-d H:i:s",###}</td>
						         <if condition="$v.state eq 1">
						         <td>成功</td>
						         </if>
						         <if condition="$v.state eq 2">
						         	<td>失败</td>
						         </if>
						         <td>{$v.content}</td>
						      </tr>
						      </foreach> 
						   </tbody>
			           </table>								
					</div>
				</div>														
			</div>
		</div>
		<include file="Public/foot" />
	