<include file="Public/head" />
<include file="Public/menu_assistant" />
<div id="content">
	<div id="content-header">
		
		<if condition="$change_state eq 1">
			<h1>修改订单管理员</h1><else/><h1>设置订单管理员</h1>
		</if>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 员工管理</a>
		<a href="#" class="current">
			<if condition="$change_state eq 1">
				修改订单管理员<else/>设置订单管理员
			</if>
		</a>
		

		<!--<span><a href="add_sh" class="add_button"><button class="btn" >+添加新商户</button></a></span>-->
		
		<button id="search_button_order_ing" class="btn" style="float: right;margin-top: 3px;margin-left: -3px;margin-right: 22px;" >搜索</button>
		<input type="text" placeholder="会员昵称" value="{$his_str}" id="search_str" style="float: right;margin-top: 3px;" onBlur="this.value=ignoreSpaces(this.value);">
	
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
					
						<if condition="$change_state eq 1">
							<h5>修改订单管理员</h5><else/><h5>设置订单管理员</h5>
						</if>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th style="width:5%;">编号</th>
								<th style="width:5%;">会员</th>
								<th style="width:5%;">是否是订单管理员</th>
								<th style="width:12%;">操作</th>
							</tr>
							</thead>
							<tbody>
							<foreach name="list" item="v">
								<tr>
									<td>{$v.id}</td>
									<td style="text-align: left!important;"><img style="width:50px;height:50px;" src="{$v.head}"> {$v.nickname}</td>
									<td>
										<if condition="$v['is_ktv_manager'] eq 1">
											已设置<else/> 非管理员
										</if> 
										
									</td>
									<td>
										<if condition="$v['is_ktv_manager'] neq 1">
										<a class="btn btn-default"  title="设置管理员" alt="设置管理员" href="__ROOT__/adp.php/Assistant/order_ing_set?openid={$v['openid']}" >
											设置管理员
										</a>	
										<else/>
										<a class="btn btn-default"  title="设置管理员" alt="设置管理员" href="__ROOT__/adp.php/Assistant/order_ing_none?openid={$v['openid']}" >
											取消
										</a>
										
										</if>
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
						<div class="pages self_css"> {$pages}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<include file="Public/foot" />
<include file="Public/input_search" />

