<include file="Public/head" />
<include file="Public/menu_merch" />
<div id="content">
	<div id="content-header">
		<h1>多商户入驻申请驳回</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 多商户</a>
		<a href="#" class="current">多商户入驻申请驳回</a>


	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
						<h5>多商户入驻申请</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>排序</th>
								<th>商户名称</th>
								<th>主营项目</th>
								<th>联系人</th>
								<th>申请时间</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<foreach name="list" item="v">
								<tr>
									<td>{$v.sort}</td>
									<td>{$v.sh_name}</td>
									<td>{$v.main_project}</td>
									<td>{$v.linkman}</td>
									<td>
										<?=date("Y-m-d H:i:s",$v['time_add']);?>
									</td>
									<td>
										<button class="btn btn-default">
											<a  title="修改" alt="修改" href="apply_con/id/{$v['id']}" >查看详情</a>
										</button>
										<button class="btn btn-danger">
											<a style="color:white;"  title="处理申请" alt="处理申请" href="sh_agree/id/{$v['id']}" onclick="if(confirm('确认已经完整阅读申请详情，即将审核吗？')==false)return false;">处理申请</a>
										</button>
										<button class="btn btn-danger">
											<a style="color:white;"  title="拒绝" alt="拒绝" href="sh_reject/id/{$v['id']}" onclick="if(confirm('确认拒绝吗？')==false)return false;">拒绝申请</a>
										</button>
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<include file="Public/foot" />


