<include file="Public/head" />
<include file="Public/menu_merch" />
<div id="content">
	<div id="content-header">
		<h1>商户区域管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 多商户管理</a>
		<a href="#" class="current">商户区域管理</a>

		<a href="merch_area_set_add" class="add_button"><button class="btn" >+添加商户区域</button></a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
						<h5>商户区域管理</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>

								<th>排序</th>
								<th>名称</th>

								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<foreach name="list" item="v">
								<tr>

									<td>{$v.sort}</td>
									<td>{$v.title}</td>

									<td>
										<button class="btn btn-default">
											<a  title="编辑" alt="编辑" href="merch_area_set_edit/id/{$v['id']}" >编辑</a>
										</button>
										<button class="btn btn-danger">
											<a style="color:white;"  title="删除" alt="删除" href="merch_area_set_delete/id/{$v['id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
										</button>
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<include file="Public/foot" />


