<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_merch" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con" style="min-height: 840px;">
				<div style="height:60px;border-bottom:1px solid #000000;padding:10px;background:skyblue;">
					<h4 style="margin:10px;float:left;">订单统计<br>
						<small>按时间查询订单数和订单金额 共计<span style="color:red;">0</span>个订单 ,金额共计<span style="color:red;">0</span> 元</small>
					</h4>

				</div>
				<table class="table table-hover">
					<thead class="navbar-inner" style="background: gainsboro;">
					<tr>
						<th style="width:200px">订单号</th>
						<th>总金额</th>
						<th>付款方式</th>
						<th>商户名称</th>
						<th>收货人</th>
						<th style="width:180px">下单时间</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>12346789</td>
						<td>11221</td>
						<td>111</td>
						<td>1524</td>
						<td>4892</td>
						<td>2017-05-05</td>
					</tr>
					<tr>
						<td>12346789</td>
						<td>11221</td>
						<td>111</td>
						<td>1524</td>
						<td>4892</td>
						<td>2017-05-05</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--====================主体  结束===============-->
	</div>	

</body>
</html>
