<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_merch" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con" style="min-height: 840px;">
				<div style="height:60px;border-bottom:1px solid #000000;padding:10px;background:skyblue;">
					<h4 style="margin:10px;float:left;">商户结算</h4>
					<div style="float:right;">
						<button class="btn btn-primary">生成结算单</button>
					</div>
				</div>
				<table class="table table-hover table-responsive">
					<thead class="navbar-inner">
					<tr>
						<!--<th style="width:25px;"><input type='checkbox' /></th>-->
						<th style="width:200px;">结算编号</th>
						<th style="width:120px;">商户信息</th>
						<!--<th style="width:100px;">订单抵扣</th>-->
						<!--<th style="width:100px;">订单会员折扣</th>-->
						<!--<th style="width:100px;">订单促销</th>-->
						<th style="width:100px;">订单应收</th>
						<th style="width:100px;">订单实收</th>
						<th style="width:100px;">抽成后金额</th>
						<th style="width:80px;">订单状态</th>
						<th style="width:100px;">操作</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>
					<tr>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>
					</tbody>
				</table>
				<!--<div class="panel panel-default" style="margin:0px 20px;">
				    <div class="panel" style="text-align:center;padding:20px;">
				        暂时没有任何申请!
				    </div>
				</div>-->
			</div>
		</div>
		<!--====================主体  结束===============-->
	</div>	

</body>
</html>
