<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_merch" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con"  style="min-height: 840px;">
				<div style="height:60px;border-bottom:1px solid #000000;padding:10px;background:skyblue;">
					<h4 style="margin:10px;float:left;">商户分类管理 <small>总数: <span>0</span></small></h4>
					<div style="float:right;">
						<button class="btn btn-primary">添加商户分类</button>
					</div>
				</div>
				<table class="table table-responsive table-hover">
					<thead class="navbar-inner" style="background:gainsboro;">
					<tr>
						<th style="width:25px;"><input type="checkbox"></th>
						<th style="width: 180px;">分类名称</th>
						<th style="width: 180px;">分类图标</th>
						<th style="width:80px;">是否启用</th>
						<th style="width: 180px;">操作</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td> <input type="checkbox" value=""></td>
						<td>合作商户</td>
						<td>
							<img src="http://res.cnmmsc.org/attachment/images/5958/2017/08/pvKbKKVoBHK2VvVk2kFvtPvT9Kt2m1.png" style="width:38px;height:38px;padding:1px;border:1px solid #ccc;">
						</td>
						<td>
				            <span class="label label-success" data-toggle="" data-switch-value="1" data-switch-value0="">
				                                启用    </span>
						</td>
						<td style="text-align:left;">
							<a href="" class="btn btn-default btn-sm">修改 </a>
							<a data-toggle="ajaxRemove" href="" class="btn btn-default btn-sm" data-confirm="确认要删除分类吗?">删除</a>
						</td>
					</tr>
					<tr>
						<td> <input type="checkbox" value=""></td>
						<td>合作商户</td>
						<td>
							<img src="http://res.cnmmsc.org/attachment/images/5958/2017/08/pvKbKKVoBHK2VvVk2kFvtPvT9Kt2m1.png" style="width:38px;height:38px;padding:1px;border:1px solid #ccc;">
						</td>
						<td>
				            <span class="label label-success" data-toggle="" data-switch-value="1" data-switch-value0="">
				                                启用    </span>
						</td>
						<td style="text-align:left;">
							<a href="" class="btn btn-default btn-sm">修改 </a>
							<a data-toggle="ajaxRemove" href="" class="btn btn-default btn-sm" data-confirm="确认要删除分类吗?">删除</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--====================主体  结束===============-->
	</div>	

</body>
</html>
