<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_ZiXun_info" />
		<!--商城概述 -->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">	
				<div style="border-bottom:1px solid #000000;height:60px;padding:20px;">
					<p style="float:left;font-size:18px;">拒绝信息</p>	
			<!--		<a href="goods_add"><button class="btn btn-primary" style="float:right;">+添加商品</button></a>	
			--></div>
                <form action="" style="margin:0px 40px;">
					<table class="table table-hover table-responsive" style="margin:20px auto;"> 
					    <thead class="navbar-inner">
					        <tr>
					            <th style="width:60px;"><input type="checkbox" id="checkAll">编号</th>
					            <th style="width:60px;text-align:center;">排序</th>
					            <th style="width:80px;text-align:center;">标题</th>
					            <th style="width:100px;">发布人</th>
					            <th style="width:60px;">联系方式</th>
					            <th style="width:60px;">分类</th>
					            <th style="width:60px;">提交时间</th>
					            <th style="width:60px;">通过审核时间</th>
					            <th style="width:100px;">操作</th>
					        </tr>
					    </thead>
					    
					     <foreach name="info" item="v">
					     	<tbody id="bots">
                        <tr>
                            <td>{$v.id}</td>
							 <td>
							 	<a  href="javascript:;" val="{$v.id}" class="edit_sort">{$v.sort}</a>
							 	<input type="text" class="sort_value" value="{$v.sort}" style="display:none;width: 38px;text-align: center;    margin-left: auto;margin-right: auto;">
							 </td>
							 <td>{$v.title}</td>
						<!--	 <td>
							 	<img style="width:40px;height:40px;" src="__ROOT__/Uploads/{$v.image}">						
							</td>-->
							<td>{$v.openid}</td>
							<td>{$v.tel}</td>
							<td>{$v.attribute_title}</td>
							  
							<td>  <?=date("Y-m-d H:i:s",$v['time_input']);?></td>
							<td>  <?=date("Y-m-d H:i:s",$v['time_agree']);?></td>
						
                            <td>
                        <a  title="修改" alt="修改" href="info_edit/id/{$v['id']}" >详情</a>&nbsp
						<!--<a  title="修改" alt="修改" href="zx_agree/id/{$v['id']}" >通过</a>&nbsp
						<a  title="修改" alt="修改" href="zx_say_no/id/{$v['id']}" >拒绝</a>-->
								<a  title="回收" alt="回收" href="zx_delete/id/{$v['id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
						</td>
                        </tr>
                
                        
                        </tbody> 
                    </foreach>	
					    				   
	                </table>  

				 </form>
            </div>			    
				<!--====================主体  结束===============-->
           </div>				
	</div>	


<script>
	//异步修改商品 排序
	$(".edit_sort").click(function(){
		var self_input=$(this).parent('td').children('input')
		var that=this
		//alert($(this).attr("val"));
		$(this).css("display","none");
		self_input.css("display","block");
		self_input.focus();
		self_input.blur(function(){
			//异步修改排序
			//alert($(that).attr("val"));
			$(that).text(self_input.val());
			$(that).css("display","block");
			self_input.css("display","none");
			 $.post('__ROOT__/adp.php/Goods/ajax_sort_goods',{'id':$(that).attr("val"),'sort_val':self_input.val()},function(date){
	        if(date==1){
	        	alert("成功");
	        }else{
	        	
	        }
        },'json');
		});
	})
</script>
<script>
	//商品ajax上下架
	$(".peng_is_ok").click(function(){
		var onw_id=$(this).children('input').val();
	
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/ajax_change_ok',{'id':onw_id},function(date){
	        if(date==1){
	        	if($(that).attr("class")=="peng_is_ok peng_ok"){
	        		$(that).attr("class","peng_is_ok peng_not");
	        		$(that).children('span').text("下架");
	        	}else if($(that).attr("class")=="peng_is_ok peng_not"){
	        		$(that).attr("class","peng_is_ok peng_ok");
	        		$(that).children('span').text("上架");
	        	}
	        }else{
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>
<script>

	

	$(".attribute01").click(function(){
		var onw_id=$(this).parent('td.get_id').children('input').val();
		var that = this;
		//{:U('get_price')}
		//$.post('__ROOT__/adp.php/Goods/ajax_change_shuxing01',{'id':onw_id},function(ajax_back){
		$.post('{:U('Goods/ajax_change_shuxing01')}',{'id':onw_id},function(ajax_back){
		
			console.log(ajax_back);
			if(ajax_back==1){
				$(that).css("color","red");
			}else if(ajax_back==2){
				$(that).css("color","");
			}
        },'json');
	})
	
	$(".attribute02").click(function(){
		var onw_id=$(this).parent('td.get_id').children('input').val();
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/ajax_change_shuxing02',{'id':onw_id},function(ajax_back){
			console.log(ajax_back);
			if(ajax_back==1){
				$(that).css("color","red");
			}else if(ajax_back==2){
				$(that).css("color","");
			}
        },'json');
	})
	
	$(".attribute03").click(function(){
		var onw_id=$(this).parent('td.get_id').children('input').val();
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/ajax_change_shuxing03',{'id':onw_id},function(ajax_back){
			console.log(ajax_back);
			if(ajax_back==1){
				$(that).css("color","red");
			}else if(ajax_back==2){
				$(that).css("color","");
			}
        },'json');
	})
	
	$(".attribute04").click(function(){
		var onw_id=$(this).parent('td.get_id').children('input').val();
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/ajax_change_shuxing04',{'id':onw_id},function(ajax_back){
			console.log(ajax_back);
			if(ajax_back==1){
				$(that).css("color","red");
			}else if(ajax_back==2){
				$(that).css("color","");
			}
        },'json');
	})
	
	$(".attribute05").click(function(){
		var onw_id=$(this).parent('td.get_id').children('input').val();
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/ajax_change_shuxing05',{'id':onw_id},function(ajax_back){
			console.log(ajax_back);
			if(ajax_back==1){
				//显示红色
				$(that).css("color","red");
			}else if(ajax_back==2){
				$(that).css("color","");
			}
        },'json');
	})
</script>
</body>

</html>
