<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_members" />
		<!--会员详情-->
		<!--====================主体-----开始========================-->
<div class="show" id="tabC1">
	<div class="con"  style="width:100%;margin:0px auto;" >
		<div class="contert">	
          <h2 style="padding:20px;border-bottom:1px solid #000000;">会员详情</h2>
             <div class="tabs-container"style="float:left;width:1000px;">
                <div class="tabs"style="width:1000px;">
					<ul class="nav nav-tabs" >
						<li class="active">
							<a data-toggle="tab" href="#tab-basic" aria-expanded="true"> 基本信息</a>
						</li>
						<li class="">
							<a data-toggle="tab" href="#tab-trade" aria-expanded="false"> 交易信息</a>
						</li>	
						<li class="">
							<a data-toggle="tab" href="#tab-lever" aria-expanded="false"> 修改等级</a>
						</li>	
					</ul>
					<div class="tab-content">
						<div id="tab-basic" class="tab-pane active" >
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">头像</label>
							    <div class="col-sm-10 col-xs-12">
							        <img src="{$info["head"]}" style="width:50px;height:50px;padding:1px;border:1px solid #ccc">
				                </div>
		                    </div>
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">OPENID</label>
							    <div class="col-sm-10 col-xs-12">
								    <div class="form-control-static js-clip" data-url="">	
								    	
								    	 {$info["openid"]}</div>
								    <div class="zclip" id="" style="position: absolute; left: 15px; top: 0px; width: 623px; height: 34px; z-index: 99;">
								    <!--	<embed id="" src="" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="623" height="34" name="ZeroClipboardMovie_1" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="" flashvars="id=1&amp;width=623&amp;height=34" wmode="transparent">						    	
								   -->
							
								    </div>
							    </div>
							</div>
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">昵称</label>
							    <div class="col-sm-10 col-xs-12">
	
							         <input type="text" name="" class="form-control" readonly value=" {$info["nickname"]}">
							         <span class="help-block"></span>	
							    </div>
							</div>
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">会员等级</label>
							    <div class="col-sm-10 col-xs-12">
							      <!--  <select name="" class="form-control">
							            <option value="">普通会员</option>
							            <option value="680">1</option>
							        </select>-->
							     
							         <input type="text" name="" class="form-control" readonly value=" {$info["level_name"]}">
							        
							         <span class="help-block"></span>	
							    </div>							   
							</div>
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">会员分组</label>
							    <div class="col-sm-10 col-xs-12">
							       <!-- <select name="" class="form-control">
							            <option value="">无分组</option>
							        </select>-->
							       
							         <input type="text" name="" class="form-control" readonly value=" {$info["group_name"]}">
							         <span class="help-block"></span>	
							    </div>
							</div>
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">真实姓名</label>
							    <div class="col-sm-10 col-xs-12">
							        <input type="text" name="" class="form-control" value="{$info["realname"]}">
							         <span class="help-block"></span>	
							    </div>
							</div>
				
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">手机号</label>
							    <div class="col-sm-10 col-xs-12">
							        <input type="text" name="" class="form-control" value="{$info["tel"]}">
							         <span class="help-block"></span>	
							    </div>
							</div>
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">注册时间</label>
							    <div class="col-sm-10 col-xs-12">
							        <div class="form-control-static">{$info["register_time"]}</div>
							    </div>
							</div>
		
							<div class="form-group" style="margin-top:20px;">
							    <label class="col-sm-2 control-label">黑名单</label>
							    <div class="col-sm-10 col-xs-12">
							    	<if condition="$info['blacklist'] eq 1">
								        <label class="radio-inline"><input type="radio" name="" value="1" checked>是</label>
								        <label class="radio-inline"><input type="radio" name="" value="0" >否</label>
					    			</if>
					    			<if condition="$info['blacklist'] eq 0">
								        <label class="radio-inline"><input type="radio" name="" value="1">是</label>
								        <label class="radio-inline"><input type="radio" name="" value="0" checked>否</label>
					    			</if>
							        <span class="help-block">设置黑名单后，此会员将无法下单！</span>			        
							    </div>
							</div>
							<div class="form-group" style="padding-top:20px;">
							    <label class="col-sm-2 control-label">备注</label>
							    <div class="col-sm-10 col-xs-12">
							        <textarea name="" class="form-control valid" aria-invalid="false"></textarea>
							    </div>
							</div>
					
						</div>
					<!--	//成交订单数-->
						<div id="tab-trade" class="tab-pane">
							<div class="form-group">
								<label class="col-sm-2 control-label">成交订单数</label>
								<div class="col-sm-10 col-xs-12">
									<div class="form-control-static">{$count} </div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">成交金额</label>
								<div class="col-sm-10 col-xs-12">
									<div class="form-control-static">{$price} 元</div>
								</div>
							</div>
						<!--	<div class="form-group">
								<label class="col-sm-2 control-label">最后一次成交时间</label>
								<div class="col-sm-10 col-xs-12">
									<div class="form-control-static">无任何交易</div>
								</div>
							</div>-->
						</div>
						
					<!--	//修改等级-->
						<div id="tab-lever" class="tab-pane">
							<form name="myupload" onsubmit="return check();" id="myupload" enctype='multipart/form-data' action="__URL__/change_lever" method="post">
								<input type="hidden" name="id" class="form-control" value="{$info.id}">
								
								
								<div class="form-group" style="margin-top:20px;">
								    <label class="col-sm-2 control-label">当前等级</label>
								    <div class="col-sm-10 col-xs-12">
								        <input type="text" name="" class="form-control" readonly value="{$info["level_name"]}">
								         <span class="help-block"></span>	
								    </div>
								</div>
								<div class="form-group" style="margin-top:20px;">
								    <label class="col-sm-2 control-label">手动变更等级</label>
								    <div class="col-sm-10 col-xs-12">
								       <select name="lever_id" id="lever_id" class="form-control">
								            <option value="">请选择等级</option>
								            <foreach name="lever_list" item="v">
								            	 <option value="{$v.id}">{$v.member_level_name}</option>
								            </foreach>
								           
								        </select>
								         <span class="help-block"></span>	
								    </div>
								</div>
					            <div class="form-group" style="margin-top:80px;">
									<label class="col-sm-1 control-label"></label>
									<div class="col-sm-11 col-xs-12">
										<input type="submit" id="addons" value="确认提交"   class="btn btn-primary">
									</div>
								</div>
								
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>   
				<!--====================主体  结束===============-->
    </div>				
</div>	

</body>
<script>
	//自定义修改会员等级，一定要选择了等级才能提交
	function check(){
		var lever_id=$("#lever_id").find("option:selected").text();
		 if(lever_id=="请选择等级"){
                alert("请选择等级");
                return false;
            }
            return true;
	}
</script>

<script>
	$(".peng_is_ok").click(function(){
		var onw_id=$(this).children('input').val();
		//var str01=that.attr("class");
			//	var arr01=str.split(" ");
		//alert(arr[1]);
		var that = this;
		 $.post('__ROOT__/adp.php/Members/ajax_change_ok',{'id':onw_id},function(date){
	        if(date==1){
	        	if($(that).attr("class")=="peng_is_ok peng_ok"){
	        		$(that).attr("class","peng_is_ok peng_not");
	        		$(that).children('span').text("黑名单");
	        	}else if($(that).attr("class")=="peng_is_ok peng_not"){
	        		$(that).attr("class","peng_is_ok peng_ok");
	        		$(that).children('span').text("正常");
	        	}
	        }else{
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>
</html>
