
	<include file="Public/head" />     
	<style>
   *{padding:0px; margin:0px;}
	a{text-decoration: none;}
	#myModal .modal-body {padding: 10px 15px;}
		#myModal .tab-pane {margin-top: 5px; min-height: 350px; max-height: 350px; overflow-y: auto;}
		#myModal .page-header {padding: 9px 0; margin-bottom: 8px;}
		#myModal .page-header h4 {margin: 0;}
		#myModal .btn {margin-bottom: 3px;}
		#myModal .modal-dialog {width: 880px;}
		#myModal .line {border-bottom: 1px dashed #ddd; color: #999; height: 36px; line-height: 36px;}
		#myModal .line .icon {height: 35px; width: 30px; position: relative; float: left;}
		#myModal .line .icon.icon-1:before {content: ""; width: 10px; height: 10px; border: 1px dashed #ccc; position: absolute; top: 12px; left: 10px;}
		#myModal .line .icon.icon-2 {width: 50px;}
		#myModal .line .icon.icon-2:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 20px;}
		#myModal .line .icon.icon-3 {width: 60px;}
		#myModal .line .icon.icon-3:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 30px;}
		#myModal .line .btn-sm {float: right; margin-top: 5px; margin-right: 5px; height: 24px; line-height: 24px; padding: 0 10px;}
		#myModal .line .text {display: block;}
		#myModal .line .label-sm {padding: 2px 5px;}
		#myModal .line.good {height: 60px; padding: 4px 0;}
		#myModal .line.good .image {height: 50px; width: 50px; border: 1px solid #ccc; float: left;}
		#myModal .line.good .image img {height: 100%; width: 100%;}
		#myModal .line.good .text {padding-left: 60px; height: 52px;}
		#myModal .line.good .text p {padding: 0; margin: 0;}
		#myModal .line.good .text .name {font-size: 15px; line-height: 32px; height: 28px;}
		#myModal .line.good .text .price {font-size: 12px; line-height: 18px; height: 18px;}
		#myModal .line.good .btn-sm {height: 32px; padding: 5px 10px; line-height: 22px; margin-top: 9px;}
		#myModal .tip {line-height: 250px; text-align: center;}
		#myModal .nav-tabs > li > a {padding: 8px 20px;}
</style>
	<div class="contert">
		<include file="Public/menu_FuWu_tiezi" />
		<!--帖子详情-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con"  style="width:1000px;margin:20px auto;" >
				<div style="margin:10px 20px;border-bottom:1px solid #000000;">
					<span style="font-size:26px;">帖子详情</span>
				</div>

				<form class="form-signin" action="{:U('InfoZiXun/run_good_news_add',array('id'=>$info['id']))}" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" novalidate="novalidate">
					
					<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">帖子标题：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="title" value="{$info.title}" >
									   <span class="help-block"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">发布人：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="openid" value="<?php echo  $info['openid']?$info['openid']:"管理员" ; ?>" >
								     <span class="help-block"></span>
								</div>
							</div>
							
							<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">提交时间：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="time_input" value="<?=date("Y-m-d H:i:s",$info['time_input']);?>" >
								     <span class="help-block"></span>
								</div>
							</div>	
							
							<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">点赞数：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="num_say_yes" value="{$info.num_say_yes}" >
								     <span class="help-block"></span>
								</div>
							</div>
							
							<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">评论数：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="num_write" value="{$info.num_write}" >
								     <span class="help-block"></span>
								</div>
							</div>
				<!--			<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">收藏数：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="goods_subtitle" value="{$info.num_contect}" >
								     <span class="help-block"></span>
								</div>
							</div>-->
						
							<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">详情：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="content"  value="{$info.content}" >
								    <span class="help-block"></span>
								</div>
							</div>		
					
					<div class="form-group">
						<label class="col-sm-2 control-label must">图片</label>
						<!--<div class="col-sm-9 col-xs-12">
							<div class="input-group " style="width:100%;">
								<input type="file" name="image[]"  class="form-control" id="doca" onchange="javascript:setImagePreviews();">
								<input type="file" name="image[]"  class="form-control" id="doca" onchange="javascript:setImagePreviews();">
								 <div class="col-sm-10">
							      	<img id="previewa" src=""style="display:none;  border-radius:6px;">							    
								 </div>							
							</div>
						</div>-->							     
					 </div>
				
						<notempty name="info['image']">
						 	<foreach name="info['image']" item="vo" key="k">
						 		<img src="__ROOT__/Uploads/{$vo}" a="{$info['id']}" b="{$k}" class="delete_img" style="width:100px;height:100px;">
						    </foreach>
					    </notempty>
		            <div class="form-group">
		                <label class="col-sm-2 control-label"></label>
		                <div class="col-sm-9 col-xs-12" style="text-align:right;">
		                <!--	<input type="submit" onclick="gosubmit2()" id="sales" value="确认提交" class="btn btn-primary">
		                -->	<input type="button" name="" onclick="history.back()" style="margin-left:10px;" value="返回列表" class="btn btn-default">
		                </div>
		            </div> 		           
                </form>
           </div>
			
   		      
			</div>			    
				<!--====================主体  结束===============-->
           </div>				
	</div>
	<script>
		$(".de2lete_img").click(function(){

			 $.post('__ROOT__/adp.php/InfoZiXun/ajax_delete_img',{'id':$(this).attr("a"),'key':$(this).attr("b")},function(date){
  				
  				if(date==1){
  					alert('删除成功');
  					window.location.reload();
  				}else{
  					alert('删除失败');
  				}
	        },'json');
	        	
		})
	</script>
</body>
</html>

	
