
<div id="sidebar">
		<ul>
			<li ><a href="{:U('CarMembers/index')}"><i class="icon icon-shopping-cart"></i>
				<span>会员概述</span></a></li>
			<li><a href="{:U('CarMembers/members')}"><i class="icon icon-shopping-cart"></i>
				<span>会员管理</span></a></li>
			<li><a href="{:U('CarMembers/driver')}"><i class="icon icon-shopping-cart"></i>
				<span>司机管理</span></a></li>
			<li><a href="{:U('CarMembers/cooperation')}"><i class="icon icon-shopping-cart"></i>
				<span>合作单位管理</span></a></li>
			<li><a href="{:U('CarMembers/signing')}"><i class="icon icon-shopping-cart"></i>
				<span>签约会员管理</span></a></li>
		</ul>
</div>
