
<div id="sidebar">
		<ul>
<if condition="$program_id eq JT201805140917546604">
			<li ><a href="{:U('Set/my_indexedit')}"><i class="icon icon-shopping-cart"></i>
				<span>首页展示</span></a></li>
			<li ><a href="{:U('Set/my_showlist')}"><i class="icon icon-shopping-cart"></i>
				<span>项目展示</span></a></li>
			<li ><a href="{:U('Set/my_contect')}"><i class="icon icon-shopping-cart"></i>
				<span>联系我们</span></a></li>
			<li ><a href="{:U('Set/my_aboutus')}"><i class="icon icon-shopping-cart"></i>
				<span>关于我们</span></a></li>	
</if>
			
			
<if condition="$program_id neq JT201805140917546604">
			<li ><a href="{:U('Set/index')}"><i class="icon icon-shopping-cart"></i>
				<span>基础设置</span></a></li>
			<li><a href="{:U('Set/contect')}"><i class="icon icon-shopping-cart"></i>
				<span>联系方式</span></a></li>
			<li><a href="{:U('Set/man_contect')}"><i class="icon icon-shopping-cart"></i>
				<span>平台联系</span></a></li>	
				
			<if condition="$program_id eq JT201807211029434559">
				<li><a href="{:U('Set/index_ad')}"><i class="icon icon-shopping-cart"></i>
				<span>弹屏广告</span></a></li>	
			</if>
</if>
			
		</ul>
</div>