<div id="sidebar">

	 	<ul>
			<li ><a href="{:U('Goodsavec/selling')}"><i class="icon icon-shopping-cart"></i> 
					<span>上架中</span></a></li>
			<li><a href="{:U('Goodsavec/cangku')}"><i class="icon icon-shopping-cart"></i> 
					<span>仓库中</span></a></li>
			<li><a href="{:U('Goodsavec/huishou')}"><i class="icon icon-shopping-cart"></i> 
					<span>回收站</span></a></li>
			<li><a href="{:U('Goodsavec/fenlei')}"><i class="icon icon-shopping-cart"></i> 
					<span>存酒分类</span></a></li>

		</ul>

</div>



		