<div id="sidebar">

	 	<ul>
			<li ><a href="{:U('Gold/index')}"><i class="icon icon-shopping-cart"></i> 
				<span>实时金价</span></a></li>	
			<li ><a href="{:U('Gold/self_price')}"><i class="icon icon-shopping-cart"></i> 
				<span>价格调控</span></a></li>	

				<!--收藏订单-->
			<li class="submenu open">
				<a href="{:U('Gold/shoucang_order')}"><i class="icon icon-th-list"></i> 
					<span>收藏订单</span> <span class="label">2</span></a>
				<ul>
					<li><a href="{:U('Gold/shoucang_order')}">
						<span>收藏买入订单<span style="color:red;"></span></span>
					</a></li>
					<li><a href="{:U('Gold/shoucang_order_2')}">
						<span>收藏卖出订单<span style="color:red;"></span></span>
					</a></li>
					
				</ul>
			</li>
		</ul>

</div>



		