<div id="sidebar">


		<ul>
			
				
			<li ><a href="{:U('Orderktvonlinebeer/index')}"><i class="icon icon-shopping-cart"></i>
				<span>订单概述</span></a></li>
			<!--<li><a href="{:U('Orderktvonlinebeer/allder_fukuan')}"><i class="icon icon-shopping-cart"></i>
				<span>待付款</span></a></li>-->
			<!--<li><a href="{:U('Orderktvonlinebeer/allder_fahuo')}"><i class="icon icon-shopping-cart"></i>
				<span>待服务</span></a></li>
			<li><a href="{:U('Orderktvonlinebeer/allder_shouhuo')}"><i class="icon icon-shopping-cart"></i>
				<span>待收货</span></a></li>
			<li><a href="{:U('Orderktvonlinebeer/allder_pingjia')}"><i class="icon icon-shopping-cart"></i>
				<span>待评价</span></a></li>-->
			<li><a href="{:U('Orderktvonlinebeer/allder_fahuo')}"><i class="icon icon-shopping-cart"></i>
				<span>待服务</span></a></li>
			<li><a href="{:U('Orderktvonlinebeer/allder_wancehgn')}"><i class="icon icon-shopping-cart"></i>
				<span>已完成</span></a></li>
			<li><a href="{:U('Orderktvonlinebeer/allder_tuikuan')}"><i class="icon icon-shopping-cart"></i>
				<span>待退款</span></a></li>
			<li><a href="{:U('Orderktvonlinebeer/allder_close')}"><i class="icon icon-shopping-cart"></i>
				<span>已关闭</span></a></li>
		
			
			<li><a href="{:U('Orderktvonlinebeer/order_all')}"><i class="icon icon-shopping-cart"></i>
				<span><if condition="$program_id eq JT201806151732369242">全部订单(发货订单)<else/>全部订单</if></span></a></li>

		</ul>


</div>