
<div id="sidebar">
		<ul>
			<li ><a href="{:U('CarManager/index')}"><i class="icon icon-shopping-cart"></i>
				<span>车种管理</span></a></li>
			<li><a href="{:U('CarManager/fenlei')}"><i class="icon icon-shopping-cart"></i>
				<span>车种分类</span></a></li>
			<li><a href="{:U('CarManager/charges')}"><i class="icon icon-shopping-cart"></i>
				<span>计费管理</span></a></li>
			<li><a href="{:U('CarManager/car_parking')}"><i class="icon icon-shopping-cart"></i>
				<span>发车位置管理</span></a></li>
<if condition="$head_menu eq 6">				
			<li><a href="{:U('Goods/jingpin')}"><i class="icon icon-shopping-cart"></i>
				<span>精品商品</span></a></li>
</if>				
				
		</ul>
</div>		