		<style>
			.modal_text{
				text-align: center;
			    color: #555555;
			    font-size: 28px;
			    font-weight: normal;
			}
			.modal_label{
				width: 21%;
			    float: left;
			    text-align: center;
			    height: 30px;
			    line-height: 41px;
			}
		</style>

		<!-- 按钮触发模态框 -->
<a id="add-event_send_coupon" style="display:none;" data-toggle="modal" href="#modal-add-event_tuikuan" class="btn btn-success btn-mini"><i class="icon-plus icon-white"></i> </a>
		<div class="modal hide" id="modal-add-event_tuikuan">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3> 发放优惠券</h3>
			</div>
			<div class="modal-body">
			
				<div class="control-group">
					<label class="control-label modal_label">优惠券单价：</label>
					<div class="controls">
						 <input type="text" id="coupon_price" value="" readonly class="form-control w70 mt5">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label modal_label">发放数量：</label>
					<div class="controls">
						 <input type="text" id="send_coupon_num" class="form-control w70 mt5">
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				 <input type="hidden" id="dsh_id" >
				<a href="#" class="btn" data-dismiss="modal">取消</a>
			
				<input type="submit" value="确认发放" class="btn btn-primary " id="div_submit_send_coupon">
			</div>
		</div>

			
			