<include file="Public/head" />
<include file="Public/menu_car_order" />
<script src="__ROOT__/Public/ys0925/jquery.js"></script>
<style>
	.fileinput-button {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

	.fileinput-button input{
		position:absolute;
		right: 0px;
		top: 0px;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px;
	}
</style>

<div id="content">
	<div id="content-header">
		<h1>订单取消原因编辑</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('CarOrder/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 订单管理</a>
		<a href="{:U('CarOrder/order_cancel')}" class="tip-bottom">订单取消原因管理</a>
		<a href="#" class="current">订单取消原因编辑</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>
								</span>
						<h5>订单取消原因编辑</h5>
					</div>
					<div class="widget-content nopadding">
						<form action="{:U('CarOrder/order_cancel_runadd',array('id'=>$info['id']))}" method="post" enctype="multipart/form-data" class="form-horizontal" />
						<div class="control-group">
							<label class="control-label">排序</label>
							<div class="controls">
								<input type="text"  name="sort" value="<?php  echo empty($info['sort'])?1:$info['sort'];?>"/>
								<span class="help-block">数字越小，排名越靠前</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">内容</label>
							<div class="controls">
								<input type="text" name="title" value="{$info['title']}" />
								<span class="help-block"></span>
							</div>
						</div>

						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							
							<input type="button" onclick="history.back()" class="btn btn-default" value="返回">
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!--原来的 modal 框位置-->
<include file="Public/self_url" />
<include file="Public/foot" />
<include file="Public/image_yl" />





