

			<script src="__ROOT__/Public/new0127/js/excanvas.min.js"></script>
            <script src="__ROOT__/Public/new0127/js/jquery.min.js"></script>
            <script src="__ROOT__/Public/new0127/js/jquery.ui.custom.js"></script>
            <script src="__ROOT__/Public/new0127/js/bootstrap.min.js"></script>
            <script src="__ROOT__/Public/new0127/js/jquery.flot.min.js"></script>
            <script src="__ROOT__/Public/new0127/js/jquery.flot.resize.min.js"></script>
            <script src="__ROOT__/Public/new0127/js/jquery.peity.min.js"></script>
            <script src="__ROOT__/Public/new0127/js/fullcalendar.min.js"></script>
            <script src="__ROOT__/Public/new0127/js/unicorn.js"></script>
            <script src="__ROOT__/Public/new0127/js/unicorn.dashboard.js"></script>
            

 
	</body>
</html>