<div id="sidebar">


		<ul>
			<li ><a href="{:U('Order/index')}"><i class="icon icon-shopping-cart"></i>
				<span>订单概述</span></a></li>
			<li><a href="{:U('Order/allder_fukuan')}"><i class="icon icon-shopping-cart"></i>
				<span>待付款</span></a></li>
			<li><a href="{:U('Order/allder_fahuo')}"><i class="icon icon-shopping-cart"></i>
				<span>待发货</span></a></li>
			<li><a href="{:U('Order/allder_shouhuo')}"><i class="icon icon-shopping-cart"></i>
				<span>待收货</span></a></li>
			<li><a href="{:U('Order/allder_wancehgn')}"><i class="icon icon-shopping-cart"></i>
				<span>已完成</span></a></li>
			<li><a href="{:U('Order/allder_close')}"><i class="icon icon-shopping-cart"></i>
				<span>已关闭</span></a></li>
			<li><a href="{:U('Order/order_all')}"><i class="icon icon-shopping-cart"></i>
				<span>全部订单</span></a></li>

			<!--

			<li><a href="{:U('Order/weiquan_beg')}"><i class="icon icon-shopping-cart"></i>
				<span>维权申请</span></a></li>
			<li><a href="{:U('Order/weiquan_over')}"><i class="icon icon-shopping-cart"></i>
				<span>维权完成</span></a></li>
			<li><a href="{:U('Order/fahuo')}"><i class="icon icon-shopping-cart"></i>
				<span>批量发货</span></a></li>

				-->
		</ul>


</div>