<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_distribution" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
				<div style="height:60px;border-bottom:1px solid #000000;padding:20px 20px;background:skyblue;">
					<h4>已无效提现申请 <small>总数: <span>0</span></small></h4>
				</div>
				<div class="panel panel-default" style="margin:0px 20px;">
					<div class="panel" style="text-align:center;padding:20px;">
						暂时没有任何申请!
					</div>
				</div>
			</div>
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
