<div class="tabT">
			<ul class="tab">
				<a href="{:U('Set/index')}"><li>基础设置</li></a>
				<!--<a href="set_store"><li>商城状态</li></a>
				<a href="set_deal"><li>交易设置</li></a>
				<a href="set_pay"><li>支付证书</li></a>
				<a href="set_noice"><li>公众号模板消息设置</li></a>
				<a href="mamager_print"><li>打印机管理</li></a>
				<a href="set_print_modal"><li>打印机模板库</li></a>
				<a href="set_print"><li>打印设置</li></a>
				<a href="set_members"><li>会员设置</li></a>-->
				<a href="{:U('Set/contect')}"><li>联系方式</li></a>
				<a href="{:U('Set/help_and_feedback')}"><li>帮助</li></a>
				
			</ul>
		</div>