		<div class="tabT">
			<ul class="tab">
				<a href="{:U('Distribution/index')}"><li>分销商管理</li></a>
				<!--<a href="{:U('Distribution/fx_trend')}"><li>分销商增长趋势</li></a>-->
				<a href="{:U('Distribution/fx_lever')}"><li>分销商等级</li></a>
				<a href="{:U('Distribution/fx_order')}"><li>分销订单</li></a>
				<!--<a href="{:U('Distribution/fx_count')}"><li>分销商统计</li></a>
				<a href="{:U('Distribution/fx_relation')}"><li>分销关系</li></a>-->
				<hr>
				<a href="{:U('Distribution/cash_ing')}"><li>待审核的</li></a>
				<a href="{:U('Distribution/cash_git')}"><li>待打款的</li></a>
				<a href="{:U('Distribution/cash_done')}"><li>已打款的</li></a>
				<a href="{:U('Distribution/cash_none')}"><li>无效的</li></a>
				<hr>
				<a href="{:U('Distribution/cash_set')}"><li>基础设置</li></a>

				<!--<a href="shanxuan"><li>筛选区间</li></a>
				<a href="biaoqian"><li>标签管理</li></a>-->
				
			</ul>
		</div>