		<div class="tabT">
			<ul class="tab">
				<if condition="$program_id eq JT201710160953394557">
					<a href="{:U('InfoZiXun/good_news')}"><li>平台好信息</li></a>
					<a href="{:U('InfoZiXun/caigou')}"><li>采购信息</li></a>
					<a href="{:U('InfoZiXun/gongying')}"><li>供应信息</li></a>
					<a href="{:U('InfoZiXun/shenhe')}"><li>审核信息</li></a>
					<a href="{:U('InfoZiXun/gongyi')}"><li>公益信息</li></a>
					<a href="{:U('InfoZiXun/fenlei')}"><li>信息分类</li></a>	
					<a href="{:U('InfoZiXun/info_set')}"><li>页面广告设置</li></a>	
					<a href="{:U('InfoZiXun/rules')}"><li>规则管理</li></a>	
					<a href="{:U('InfoZiXun/say_no')}"><li>已拒绝审核</li></a>
				<else/>
					
					<a href="{:U('InfoZiXun/info_list')}"><li>资讯列表</li></a>
				
				</if>
				
			</ul>
		</div>