<include file="Public/head" />
<include file="Public/menu_members" />
<div id="content">
	<div id="content-header">
		<h1>账号管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 会员</a>
		<a href="#" class="current">账号管理</a>

		<a href="members_account_audit_list" class="add_button"><button class="btn" >注册审核（<span style="color:;">{$count_register}</span>）</button></a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
						<h5>账号管理</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th style="width:30px;"><input type="checkbox" id="checkAll"></th>
								<th>会员</th>
								<th>注册姓名</th>
								<th>注册账号</th>
								<th>注册手机号</th>
								<th>注册时间</th>
								<th>审核时间</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<foreach name="list" item="v">
								<tr>
									<td>{$v.id}</td>
									<td style="text-align: left!important;"><img style="width:50px;height:50px;" src="{$v.head}"> {$v.nickname}</td>
									<td>{$v.register_name}</td>
									<td>{$v.register_account}</td>

									<td>{$v.register_tel}</td>
									<td>{$v.register_acount_time|date="Y-m-d",###}<br>{$v.register_acount_time|date="H:i:s",###}</td>
									<td>{$v.agree_acount_time|date="Y-m-d",###}<br>{$v.agree_acount_time|date="H:i:s",###}</td>
									<td>
										<a  title="详情" alt="详情" href="members_account_con/id/{$v['id']}" >
											<button class="btn btn-default">详情</button>
										</a>
										<a style="color:white;"  title="拉黑" alt="拉黑" href="account_say_no/id/{$v['id']}" onclick="if(confirm('确认拉黑吗？')==false)return false;">
											<button class="btn btn-danger">拉黑</button>
										</a>
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<include file="Public/foot" />


