<include file="Public/head" />
<include file="Public/menu_members" />
<script src="__ROOT__/Public/ys0925/jquery.js"></script>
<script src="__ROOT__/Public/ys0925/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="__PUBLIC__/imgupload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/imgupload/css/diyUpload.css">
<script type="text/javascript" src="__PUBLIC__/imgupload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/imgupload/js/diyUpload.js"></script>
<!--百度编辑器-->
    	    <script type="text/javascript" charset="utf-8" src="__ROOT__/Public/ueditor/ueditor.config.js"></script>
	    <script type="text/javascript" charset="utf-8" src="__ROOT__/Public/ueditor/ueditor.all.min.js"> </script>
	    
	    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
	    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
	    <script type="text/javascript" charset="utf-8" src="__ROOT__/Public/ueditor/lang/zh-cn/zh-cn.js"></script>
   <style>
   	.con{
   		/*padding:40px;
*/   	}
   	  	.p_laber{
   	
   	}
<style>

	*{ margin:0; padding:0;}
	#box{
		width: 100%;
		background: #FF9;
		padding-top: 7px;
		clear: both;
		border-radius: 12px;
	}
	#demo{
		width:81.5%;
		background:white;
		border-radius: 4px;
		border: 1px solid #ccc;

	}
</style>
<style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input{
            position:absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }
    </style>
<div id="content">
			<div id="content-header">
				<h1>会员详情</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Members/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 会员</a>
				<a href="{:U('Members/members_account')}" class="tip-bottom">会员账号管理</a>
				<a href="#" class="current">会员详情</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
					<div class="tabs-container">
	                <div class="tabs">	
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>

								<ul class="nav nav-tabs"style="height:60px;width:100%;">
									<li class="active">
										<a data-toggle="tab" href="#tab-01" aria-expanded="true"> 基本信息</a>
									</li>

								</ul>
							</div>
							<!--开始-->
					
											
							<div class="tab-content">	
<!--============基本信息======================================================-->
<!--============基本信息======================================================-->	

									<div id="tab-01" class="tab-pane active">
									    <div class="widget-content nopadding">
									    	<form action="{:U('-/run_goods_add',array('id'=>$info['id']))}" method="post" enctype="multipart/form-data" class="form-horizontal" />
											<!--头像-->
											<div class="control-group">
												<label class="control-label">头像：</label>
												<div class="controls">
													<img src="{$info["head"]}" style="width:50px;height:50px;padding:1px;border:1px solid #ccc">
												</div>
											</div>
											<!--OPENID-->
											<div class="control-group">
												<label class="control-label">OPENID：</label>
												<div class="controls">
													<input type="text"  name="openid" readonly value="{$info["openid"]}"/>
													<span class="help-block" style="color:red;"></span>
												</div>
											</div>
											<!--昵称-->
											<div class="control-group">
												<label class="control-label">昵称：</label>
												<div class="controls">
													<input type="text"  name="nickname" readonly value="{$info.nickname}"/>
													<span class="help-block" ></span>
												</div>
											</div>
											<!--注册账号-->
											<div class="control-group">
												<label class="control-label">注册账号：</label>
												<div class="controls">
													<input type="text"  name="level_name" readonly value="{$info.register_account}"/>
													<span class="help-block" ></span>
												</div>
											</div>
											<!--注册姓名-->
											<div class="control-group">
												<label class="control-label">注册姓名：</label>
												<div class="controls">
													<input type="text"  name="group_name" readonly value="{$info.register_name}"/>
													<span class="help-block" ></span>
												</div>
											</div>
											
								
											<!--注册身份证号-->
											<div class="control-group">
												<label class="control-label">注册身份证号：</label>
												<div class="controls">
													<input type="text"  name="realname" value="{$info.register_idnum}"/> 
													<span class="help-block" ></span>
												</div>
											</div>
											<!--注册手机号-->
											<div class="control-group">
												<label class="control-label">注册手机号：</label>
												<div class="controls">
													<input type="text"  name="tel" value="{$info.register_tel}"/> 
													<span class="help-block" ></span>
												</div>
											</div>
											<!--注册时间-->
											<div class="control-group">
												<label class="control-label">注册时间：</label>
												<div class="controls">
													<input type="text"  name="register_time" value="{$info.register_acount_time|date="Y-m-d H:i:s",###}"/> 
													<span class="help-block" ></span>
												</div>
											</div>
											<!--通过时间-->
											<div class="control-group">
												<label class="control-label">通过时间：</label>
												<div class="controls">
													<input type="text"  name="register_time" value="{$info.agree_acount_time|date="Y-m-d H:i:s",###}"/> 
													<span class="help-block" ></span>
												</div>
											</div>
											<div class="form-actions">
													<!--<button type="submit" class="btn btn-primary">保存</button>-->
											</div>
											</form>
										</div>
									</div>

								  
								</div>
								
							</div>
						</div>
							<!--结束-->
						</div>						
					</div>
				</div>
				
			</div>
	</div>
	<include file="Public/foot" /> 
	<include file="Public/image_yl" />
	<include file="Public/guige" />
	<include file="Public/canshu" />
	<include file="Public/huiyuanjia" />
	<include file="Public/pifa" />
<script>
	//商品分类选择
	 function gradeChange(){
	 	
    	var city_area=$("#city_area_select").find("option:selected").text();
    	if(city_area=="请选择分类"){
    		return false;
    	}
        $("#road_from_select").empty();
    
        $.post('__ROOT__/adpp.php/Goods/ajax_fenlei_2',{'title':city_area},function(arr_road){
    	
         for (var i=0;i<arr_road.length;i++){
                $("#road_from_select").append($("<option></option>").text(arr_road[i]));
            }

        },'json');
         
    }
</script>
<script type="text/javascript">
//====================================百度编辑器
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('goods_content');
</script>
</body>
</html>
