<include file="Public/head" />
<include file="Public/menu" />
<div id="content">
	<div id="content-header">
		<h1>广告管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
		<a href="#" class="current">广告管理</a>

		<a href="ad_add" class="add_button"><button class="btn" >+添加新广告</button></a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
						<h5>广告管理</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>编号</th>
								<th>排序</th>
								<th>标题</th>
								<th>链接</th>
								<th>显示</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<foreach name="ad" item="v">
								<tr>
									<td>{$v.id}</td>
									<td>{$v.sort}</td>
									<td>{$v.title}</td>
									<td>{$v.url}</td>
									<td>
										<if condition="$v.is_show eq 1">
											<div class="peng_is_ok peng_ok">
												<input type="hidden" value="{$v.id}">
												<span>显示</span>
											</div>
										</if>

										<if condition="$v.is_show eq 2">
											<div class="peng_is_ok peng_not">
												<input type="hidden" value="{$v.id}">
												<span>隐藏</span>
											</div>
										</if>
									</td>
									<td>
										<a class="btn btn-default" title="修改" alt="修改" href="ad_edit/id/{$v['id']}" >
											修改
										</a>
										<a class="btn btn-danger" style="color:white;"  title="删除" alt="删除" href="ad_delete/id/{$v['id']}" onclick="if(confirm('确认删除吗？')==false)return false;">
											删除
										</a>	
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<include file="Public/foot" />


