<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con">
				<div style="border-bottom:1px solid #000000;height:60px; padding:20px;">
				    <span style=" font-size:20px;">评价管理</span>				   
				</div>             
				<div class="col-md-12 col-sm-12">
	                <div class="panel panel-default">
			            <div class="panel-body" style="text-align:center;padding:28px;"> 暂时没有任何评价! </div>				                                       			           
	                </div>
		        </div>
			</div>		    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
</html>
