<include file="Public/head" />     
	<div class="contert">
		<include file="Public/menu_goods" />
		<!--商城概述-->
		<!--====================主体-----开始========================-->
		<div class="show" id="tabC1">
			<div class="con" >									
				<!--<p style="margin:10px 40px;"></p>-->
				<div style="border-bottom:1px solid #000000;padding:20px;">
					<h4>商品管理</h4>
				</div>
				<form action="" style="margin: 0px 40px;">
	                <table class="table table-hover table-responsive" style="margin:20px auto;"> 
					    <thead class="navbar-inner">
					        <tr>
					            <th style="width:30px;"><input type="checkbox" id="bota"></th>
					            <th style="width:60px;text-align:center;">排序</th>
					            <th style="width:80px;text-align:center;">商品</th>
					            <th style="width:100px;">&nbsp;</th>
					            <th style="width:60px;">价格</th>
					            <th style="width:60px;">库存</th>
					            <th style="width:70px;">销量</th>
					            <th style="width:60px;">状态</th>
					            <th style="width:100px;">操作</th>
					        </tr>
					    </thead>
				    <tbody id="boas">	
				    	<foreach name="goods" item="v">
                        <tr>
                            <td>{$v.id}</td>
							 <td>{$v.sort}</td>
							 <td>{$v.goods_title}</td>
							 <td>
							 <!--	<img src="__ROOT__/Uploads/{$v.image}">
							-->
							 <img style="width:40px;height:40px;" src="__ROOT__/Uploads/2017-09-01/59a936cf44aa2.jpg">
							 </td>
							 <td>{$v.price_sell}</td>
							  <td>{$v.number}</td>
							  <td>{$v.sell_num}</td>
		
							 <td>
							 	<if condition="$v.goods_state eq 1">
							 		<div class="peng_is_ok peng_ok">
							 			<input type="hidden" value="{$v.id}">
							 			<span>上架</span>
							 		</div>
								 </if>
							 	<if condition="$v.goods_state eq 3">
							 		<div class="peng_is_ok peng_not">
							 			<input type="hidden" value="{$v.id}">
							 			<span>下架</span>
							 		</div>
							 	</if>
							 </td>
                            <td>
									<a  title="删除" alt="删除" href="delete/id/{$v['id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
							</td>
                        </tr>
                    </foreach>	
				    </tbody> 				   
                    </table> 
                </form>
			</div>    
				<!--====================主体  结束===============-->
           </div>				
	</div>	

</body>
<script>
	//商品ajax上下架
	$(".peng_is_ok").click(function(){
		var onw_id=$(this).children('input').val();
	
		var that = this;
		 $.post('__ROOT__/adp.php/Goods/ajax_change_ok',{'id':onw_id},function(date){
	        if(date==1){
	        	if($(that).attr("class")=="peng_is_ok peng_ok"){
	        		$(that).attr("class","peng_is_ok peng_not");
	        		$(that).children('span').text("下架");
	        	}else if($(that).attr("class")=="peng_is_ok peng_not"){
	        		$(that).attr("class","peng_is_ok peng_ok");
	        		$(that).children('span').text("上架");
	        	}
	        }else{
	        	alert("操作过于频繁");
	        }
        },'json');
	})
</script>
</html>
