<include file="Public/head" />
<include file="Public/menu_ZiXun_info" />
<script src="__ROOT__/Public/ys0925/jquery.js"></script>
<style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input{
            position:absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }
    </style>

<div id="content">
			<div id="content-header">
				<h1>小程序内广告图设置</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('IndexZiXun/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
				
				<a href="#" class="current">小程序内广告图设置</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>小程序内广告图设置</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="__URL__/info_set_submit" method="post" enctype="multipart/form-data" class="form-horizontal" />
									
									<div class="control-group ">
										<label class="control-label">信息列表页广告图</label>
										<div class="controls">
											<input type="text" value="{$data['zx_info_list_img']}" id="image_name" />
										        <span class="btn btn-success fileinput-button">
										            <span>上传</span>
										            <input type="file" name="zx_info_list_img" id="doca"  onchange="javascript:setImagePreviews();">
										       </span>

										       <div class="help-block bd_gray mt15 w81 b_r_4 max_h_165 " style="display:none;" id="image_area">
										      	 	<img class="h_92 p_1" src="" id="loc_img" /> 
										       </div>

										</div>	 
									</div>
									<div class="control-group ">
										<label class="control-label">发布页面广告图</label>
										<div class="controls">
											<input type="text" value="{$data['zx_enter_img']}" id="image_name_2" />
										        <span class="btn btn-success fileinput-button">
										            <span>上传</span>
										            <input type="file" name="zx_enter_img" id="doca_2"  onchange="javascript:setImagePreviews_2();">
										       </span>

										       <div class="help-block bd_gray mt15 w81 b_r_4 max_h_165 " style="display:none;" id="image_area_2">
										      	 	<img class="h_92 p_1" src="" id="loc_img_2" /> 
										       </div>

										</div>	 
									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">保存</button>
									</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
				
			</div>
		</div>

			<!--原来的 modal 框位置-->
	<include file="Public/self_url" />
	<include file="Public/foot" /> 
	<include file="Public/image_yl" /> 


		


