<div class="tabT">
			<ul class="tab">
				<a href="{:U('Order/index')}"><li>单页管理</li></a>
				<!--<a href="{:U('Order/allder_fukuan')}"><li>待付款</li></a>
				<a href="{:U('Order/allder_fahuo')}"><li>待发货</li></a>
				<a href="{:U('Order/allder_shouhuo')}"><li>待收货</li></a>			
				<a href="{:U('Order/allder_wancehgn')}"><li>已完成</li></a>
				<a href="{:U('Order/allder_close')}"><li>已关闭</li></a>
				<a href="{:U('Order/order_all')}"><li>全部订单</li></a>-->
				<!--<a href="weiquan_beg"><li>维权申请</li></a>
				<a href="weiquan_over"><li>维权完成</li></a>
				<a href="fahuo"><li>批量发货</li></a>-->
			</ul>
		</div>