
 <!DOCTYPE html>
<html xmlns="">
<head>
<meta http-equiv="Content-Type" content="charset=utf-8"/>
<title>互联网生态圈营销中心</title>
  
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
	<script src="__ROOT__/Public/jsP/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/cssP/system.css"/>
	<link rel="stylesheet" href="__ROOT__/Public/cssP/index.css" />
<style>

</style>	
</head>
<body>
	    <div class="header-top">
	        <div class="width-center">	        
	            <div class="header-title">
	                <strong>互联网生态圈营销中心</strong>	              
	            </div>
	            <!-- <div class="header-right">
	                <span>全国咨询热线</span>
	                <span>00-000-00000000</span>
	            </div>-->
	        </div>
        </div>
             <!-- 代码 开始 -->
		<div id="nav">
		    <ul class="Menu">
		       <li><a href="{:U('Index/index')}" class="current">首页</a></li>
		        <li><a href="{:U('OnePage/index')}">单页版</a></li>
		       
		       <!--<li><a href="{:U('Goods/selling')}">商品</a></li>
		       <li><a href="{:U('Members/index')}">会员</a></li>
		       <li><a href="{:U('Order/index')}">订单</a></li>
		       <li><a href="#">营销</a></li>
		       <li><a href="#">数据</a></li>
		       <li><a href="{:U('Merch/index')}">多商铺</a></li>
				 <li><a href="{:U('Distribution/index')}">分销系统</a></li>
				 <li><a href="#">DIY系统</a></li>
                   <li><a href="">工具箱</a></li>
		       <li><a href="{:U('Set/index')}">设置</a></li>-->
		       
		        <li style="float: right;margin-right: 10%;"><a href="{:U('Login/logout')}">退出</a></li>
		    </ul>
	 </div>	   